﻿/*
CSS for mntn
*/
body {
  font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;
  color: black;
  font-weight: normal;
  font-size: 120%;
  background-color: white;
  background: url(background.jpg);
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.colwrapper { width:1240px;
margin-left:auto; 
margin-right:auto; }

.ltcol, .ctcol, .rtcol {margin:0 10px; padding:10px; }
.ltcol, .ctcol { float:left; }
.rtcol { float:right; }
.ltcol, .rtcol{ width: 250px; }
.ctcol  { width: 600px;}

.leftcol, .rightcol {margin:0 10px; padding:10px; }
.leftcol { float:left; }
.rightcol { float:right; }
.leftcol  { width: 240px; }
.rightcol  { width: 740px;}


.header {
font-size: 250%;
font-weight: bold;
padding:20px;
width:1100px;
text-align: center;
margin-left:auto; 
margin-right:auto;
border-bottom: 3px solid #7da5d8;
}

.bodygeorgia{
font-family: Georgia, Helvetica, Arial, sans-serif;
max-width:1000px;
margin-left:auto; 
margin-right:auto;}

.bodyf{
font-family: Georgia, Helvetica, Arial, sans-serif;
width:1100px;
margin-left:auto; 
margin-right:auto;
padding:30px;
}

.body{
padding:10px;
max-width: 1100px;
margin-left:auto; 
margin-right:auto;
}

p.caption {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 600px;}

img.displayed {
    display: block;
	margin-left: auto;
    margin-right: auto; 
    border: 2px solid black;}


a{text-decoration:none}
a:link{color: blue}
a:visited{color: blue}
a:active{color: green}
a:hover{color: green}


/*

h2{
font-size: 150%;
padding-bottom:0px;*/Doesn't do anything; default; negs not allowed*/
}

.left{
padding:10px;
width: 225px;
position:relative;
left: 0px;
}


.new {
padding:20px;
padding-right: 300px;
left: 245px;
width: 600px
}

.right{
padding:20px;
width: 250px;
position: absolute;
left: 870px;
}



h1{
font-size: 200%;
}




#body1 {
padding:20px;
font-size: 120%
font-family: Georgia, Helvetica, Arial, sans-serif;
position: absolute;
left: 220px;
}

#body250 {
padding:20px;
font-family: Georgia, Helvetica, Arial, sans-serif;
position: absolute;
left: 250px;
}




#left250{
padding:10px;
width: 250px;
position: absolute;
left: 0px;
}
*/

