#route, #journey .jcarousel-skin-tango {
    margin-left: 15px;
    margin-right: 15px;
}
#journey .jcarousel-skin-tango {
    margin-left: 15px;
    margin-right: 15px;
    width:865px;
}
.profileDesc .jcarousel-skin-tango {
    width: 580px;
}
.jcarousel-skin-tango .jcarousel-container {
    margin-top:20px;
    border: 1px solid #bfbfbf;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    /*width: 498px;*/
    width: 91%;
    padding: 5px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    /*width:  498px;*/
    width:100%;
    height: 103px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 100px;
    height: 100px;
    /*border:1px #808080 solid !important;*/
    border-radius:0px !important;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 30px !important;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 45px;
    right: 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat;
}

/*.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}*/

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 45px;
    left: 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

/*.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}*/

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}




/*MAIN IMAGE CAROUSEL*/
.jcarousel-skin-main .jcarousel-container {
    border: 1px solid #e5e5e5;
}

.jcarousel-skin-main .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-main .jcarousel-container-horizontal {
    /*width: 498px;*/
    width: 578px;
}

.jcarousel-skin-main .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-main .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-main .jcarousel-clip-horizontal {
    width:100%;
    height: 100%;
}

.jcarousel-skin-main .jcarousel-clip-vertical {
    width:  75px;
    height: 100%;
}

.jcarousel-skin-main .jcarousel-item {
    height: 100%;
    /*border:1px #808080 solid !important;*/
    border-radius:0px !important;
}

.jcarousel-skin-main .jcarousel-item-horizontal {
    margin-left: 0;
}

.jcarousel-skin-main .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-main .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-main .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-main .jcarousel-next-horizontal {
    position: absolute;
    top: 45%;
    right: 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat;
}

.jcarousel-skin-main .jcarousel-prev-horizontal {
    position: absolute;
    top: 45%;
    left: 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-main .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-main .jcarousel-next-vertical:hover,
.jcarousel-skin-main .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-main .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-main .jcarousel-next-disabled-vertical,
.jcarousel-skin-main .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-main .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-main .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-main .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-main .jcarousel-prev-vertical:hover,
.jcarousel-skin-main .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-main .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-main .jcarousel-prev-disabled-vertical,
.jcarousel-skin-main .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-main .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-main .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-main a {position: relative;}
.jcarousel-skin-main li img {
  height: 30px;
  max-height: 390px;
}