@font-face {
    font-family: 'icomoon-ahb';
    src:    url('fonts/icomoon-ahb.eot?b6htzm');
    src:    url('fonts/icomoon-ahb.eot?b6htzm#iefix') format('embedded-opentype'),
        url('fonts/icomoon-ahb.ttf?b6htzm') format('truetype'),
        url('fonts/icomoon-ahb.woff?b6htzm') format('woff'),
        url('fonts/icomoon-ahb.svg?b6htzm#icomoon-ahb') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-ahb' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icomoon-pivot-all:before {
    content: "\e979";
}
.icomoon-pivot-b:before {
    content: "\e978";
}
.icomoon-pivot:before {
    content: "\e977";
}

.icomoon-opp_t:before {
    content: "\e971";
}
.icomoon-rec_track:before {
    content: "\e972";
}
/* ATT hill */
.true.icomoon-mid_mountain:before, .false.icomoon-mid_mountain:before  {
    content: "\e96b";
}
.icomoon-mid_mountain-b:before {
    content: "\e96c";
}
.icomoon-mid_mountain-all:before {
    content: "\e96d";
}
.true.icomoon-high_mountain:before, .false.icomoon-high_mountain:before {
    content: "\e96e";
}
.icomoon-high_mountain-b:before {
    content: "\e96f";
}
.icomoon-high_mountain-all:before {
    content: "\e970";
}
.true.icomoon-precolumbian_rise:before, .false.icomoon-precolumbian_rise:before {
    content: "\e920";
}
.icomoon-precolumbian_rise-b:before {
    content: "\e921";
}
.icomoon-precolumbian_rise-all:before {
    content: "\e922";
}
.true.icomoon-volcano:before, .false.icomoon-volcano:before {
    content: "\e923";
}
.icomoon-volcano-b:before {
    content: "\e924";
}
.icomoon-volcano-all:before {
    content: "\e925";
}
.true.icomoon-restricted_area:before, .false.icomoon-restricted_area:before {
    content: "\e926";
}
.icomoon-restricted_area-b2:before {
    content: "\e927";
}
.icomoon-restricted_area-b:before {
    content: "\e928";
}
.true.icomoon-protected_area:before, .false.icomoon-protected_area:before {
    content: "\e929";
}
.icomoon-protected_area-b:before {
    content: "\e92a";
}
.icomoon-protected_area-all:before {
    content: "\e92b";
}

/* ATT */
.true.icomoon-termas:before, .false.icomoon-termas:before {
    content: "\e92c";
}
.icomoon-termas-b:before {
    content: "\e92d";
}
.icomoon-termas-all:before {
    content: "\e92e";
}
.true.icomoon-fauna:before, .false.icomoon-fauna:before {
    content: "\e92f";
}
.icomoon-fauna-b:before {
    content: "\e930";
}
.icomoon-fauna-all:before {
    content: "\e931";
}
.true.icomoon-glaciares:before, .false.icomoon-glaciares:before {
    content: "\e932";
}
.icomoon-glaciares-b:before {
    content: "\e933";
}
.icomoon-glaciares-all:before {
    content: "\e934";
}
.true.icomoon-cascadas:before, .false.icomoon-cascadas:before {
    content: "\e935";
}
.icomoon-cascadas-b:before {
    content: "\e936";
}
.icomoon-cascadas-all:before {
    content: "\e937";
}
.true.icomoon-playa:before, .false.icomoon-playa:before {
    content: "\e938";
}
.icomoon-playa-b:before {
    content: "\e939";
}
.icomoon-playa-all:before {
    content: "\e93a";
}
.true.icomoon-flora:before, .false.icomoon-flora:before {
    content: "\e93b";
}
.icomoon-flora-b:before {
    content: "\e93c";
}
.icomoon-flora-all:before {
    content: "\e93d";
}
.true.icomoon-lagos:before, .false.icomoon-lagos:before {
    content: "\e93e";
}
.icomoon-lagos-b:before {
    content: "\e93f";
}
.icomoon-lagos-all:before {
    content: "\e940";
}
.true.icomoon-arqueologia:before, .false.icomoon-arqueologia:before {
    content: "\e941";
}
.icomoon-arqueologia-b:before {
    content: "\e942";
}
.icomoon-arqueologia-all:before {
    content: "\e943";
}
.true.icomoon-cumbre:before, .false.icomoon-cumbre:before {
    content: "\e944";
}
.icomoon-cumbre-b:before {
    content: "\e945";
}
.icomoon-cumbre-all:before {
    content: "\e946";
}
.true.icomoon-bosques:before, .false.icomoon-bosques:before {
    content: "\e947";
}
.icomoon-bosques-b:before {
    content: "\e948";
}
.icomoon-bosques-all:before {
    content: "\e949";
}
.true.icomoon-panoramicas:before, .false.icomoon-panoramicas:before {
    content: "\e94a";
}
.icomoon-panoramicas-b:before {
    content: "\e94b";
}
.icomoon-panoramicas-all:before {
    content: "\e94c";
}
.true.icomoon-transporte:before, .false.icomoon-transporte:before {
    content: "\e94d";
}
.icomoon-transporte-b:before {
    content: "\e94e";
}
.icomoon-transporte-all:before {
    content: "\e94f";
}
.true.icomoon-celular:before, .false.icomoon-celular:before {
    content: "\e950";
}
.icomoon-celular-b:before {
    content: "\e951";
}
.icomoon-celular-all:before {
    content: "\e952";
}
.true.icomoon-ninos:before, .false.icomoon-ninos:before {
    content: "\e953";
}
.icomoon-ninos-b:before {
    content: "\e954";
}
.icomoon-ninos-all:before {
    content: "\e955";
}
.true.icomoon-mascotas:before, .false.icomoon-mascotas:before {
    content: "\e956";
}
.icomoon-mascotas-b:before {
    content: "\e957";
}
.icomoon-mascotas-all:before {
    content: "\e958";
}
.true.icomoon-discapacitados:before, .false.icomoon-discapacitados:before {
    content: "\e959";
}
.icomoon-discapacitados-b:before {
    content: "\e95a";
}
.icomoon-discapacitados-all:before {
    content: "\e95b";
}
.true.icomoon-escalada_roca:before, .false.icomoon-escalada_roca:before {
    content: "\e95c";
}
.icomoon-escalada_roca-b:before {
    content: "\e95d";
}
.icomoon-escalada_roca-all:before {
    content: "\e95e";
}
.true.icomoon-escalada_hielo:before, .false.icomoon-escalada_hielo:before {
    content: "\e95f";
}
.icomoon-escalada_hielo-b:before {
    content: "\e960";
}
.icomoon-escalada_hielo-all:before {
    content: "\e961";
}
.true.icomoon-randone:before, .false.icomoon-randone:before {
    content: "\e962";
}
.icomoon-randone-b:before {
    content: "\e963";
}
.icomoon-randone-all:before {
    content: "\e964";
}
.true.icomoon-travesia_glaciar:before, .false.icomoon-travesia_glaciar:before {
    content: "\e965";
}
.icomoon-travesia_glaciar-b:before {
    content: "\e966";
}
.icomoon-travesia_glaciar-all:before {
    content: "\e967";
}
.true.icomoon-caminata_simple:before, .false.icomoon-caminata_simple:before {
    content: "\e968";
}
.icomoon-caminata_simple-b:before {
    content: "\e969";
}
.icomoon-caminata_simple-all:before {
    content: "\e96a";
}
/* TOUR */
.icomoon-roundtrip.true:before, .icomoon-roundtrip.false:before {
    content: "\e901";
}
.icomoon-roundtrip-b:before {
    content: "\e900";
}
.icomoon-roundtrip-all:before {
    content: "\e90a";
}
.icomoon-circuit.true:before, .icomoon-circuit.false:before {
    content: "\e903";
}
.icomoon-circuit-b:before {
    content: "\e902";
}
.icomoon-circuit-all:before {
    content: "\e909";
}
.icomoon-crossing.true:before, .icomoon-crossing.false:before {
    content: "\e905";
}
.icomoon-crossing-b:before {
    content: "\e904";
}
.icomoon-crossing-all:before {
    content: "\e90b";
}
.icomoon-semicircuit.true:before, .icomoon-semicircuit.false:before {
    content: "\e907";
}
.icomoon-semicircuit-b:before {
    content: "\e906";
}
.icomoon-semicircuit-all:before {
    content: "\e908";
}

/* COLORS */
.icomoon-semicircuit.true:before, .icomoon-crossing.true:before, .icomoon-circuit.true:before, .icomoon-roundtrip.true:before {color:#b08a3b;}
.icomoon-semicircuit.false:before, .icomoon-crossing.false:before, .icomoon-circuit.false:before, .icomoon-roundtrip.false:before {color:#633e28;}

.true {color:#b08a3b;}
.false {color:#633e28;}

/* DIFICULT */
.icomoon-facil.true:before {
    content: "\e91e";
}
.icomoon-facil.false:before {
    content: "\e91f";
}
.icomoon-moderada.true:before {
    content: "\e911";
}
.icomoon-moderada.false:before {
    content: "\e912";
}
.icomoon-dificil.true:before {
    content: "\e915";
}
.icomoon-dificil.false:before {
    content: "\e916";
}
.icomoon-experto.true:before {
    content: "\e914";
}
.icomoon-experto.false:before {
    content: "\e917";
}
.icomoon-f.true:before {
    content: "\e91c";
}
.icomoon-f.false:before {
    content: "\e91d";
}
.icomoon-pd.true:before {
    content: "\e919";
}
.icomoon-pd.false:before {
    content: "\e91a";
}
.icomoon-ad.true:before {
    content: "\e90c";
}
.icomoon-ad.false:before {
    content: "\e90f";
}
.icomoon-d.true:before {
    content: "\e910";
}
.icomoon-d.false:before {
    content: "\e913";
}
.icomoon-md.true:before {
    content: "\e90d";
}
.icomoon-md.false:before {
    content: "\e90e";
}
.icomoon-ed.true:before {
    content: "\e918";
}
.icomoon-ed.false:before {
    content: "\e91b";
}
.icomoon-abo.false:before {
    content: "\e976";
}
.icomoon-abo.true:before {
    content: "\e975";
}
/* COLORES */
.icomoon-f.true:before, .icomoon-f.false:before {color:#219BD4;}
.icomoon-pd.true:before, .icomoon-pd.false:before {color:#21967E;}
.icomoon-facil.true:before, .icomoon-facil.false:before, .icomoon-ad.true:before, .icomoon-ad.false:before {color:#78AC59;}
.icomoon-moderada.true:before, .icomoon-moderada.false:before, .icomoon-d.true:before, .icomoon-d.false:before {color:#EDD000;}
.icomoon-dificil.true:before, .icomoon-dificil.false:before, .icomoon-md.true:before, .icomoon-md.false:before {color:#DD9C00;}
.icomoon-experto.true:before, .icomoon-experto.false:before, .icomoon-ed.true:before, .icomoon-ed.false:before {color:#BC2122;}
.icomoon-abo.true:before, .icomoon-abo.false:before {color: #393433;}


/* ALL */
.box-icon {margin: 0 auto;display: block;width: 320px;}
.big-icon {font-size: 25px;display: block;float:left;}
.big-icon.four {margin: 0 8px;}

.big-icon.three {margin: 0 15px;}

.big-icon.one {font-size: 30px;margin-right: 10px;}
.big-icon.line {margin: 5px 7px;font-size: 31px;}
.big-icon.four2 {margin: 5px 16px;}

