/* Ande's Handbook */

/* Loading Fonts */
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic.woff') format('woff'),
         url('../fonts/OpenSans-Italic.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Generics */
html {height:100%;}
body {
	font-family: 'OpenSansRegular';
	font-size:12px;
	height:100%;
}
/* body strong, b {
	font-family: 'OpenSansBold';
	font-size:12px;
}*/

.dest-authors .chosen-container {
  width: 450px !important; max-width: 450px !important;
}

.uploadifive-button {
	background-color: none !important;
	background-image: none !important;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid grey;
	cursor: pointer;
}

a {text-decoration:none;}

.capitalize {text-transform: capitalize;}
.page-content{padding-bottom: 230px;width: 1280px;margin: 0 auto;}

/* Grids */
.wrapper {width:960px; margin:0 auto; overflow:auto; /*margin-left: 13%;*/}
.route-content {padding:35px 10px 10px 10px;}

/* Header */
.head-container {border-top:1px #e5e5e5 solid; height:70px; width:100%; background-color:#fff; min-width: 1180px;}
.head-container:after {
	content:"";
	display:block;
	width:100%;
	height:30px;
	min-width: 960px;
	position:absolute;
	background:url(../images/header-shadow.png) repeat-x;
	top:70px;
}
.head-left {float:left; margin-left:50px;}
.head-right {float:right; margin-top: 40px;}
.head-right .translation-link {position: absolute; left: -50px; top: 8px;}
.head-right .translation-link a {color: #444}
.head-right .flag img {height: 14px; width:20px;margin-left: 3px; opacity: 0.3;}
.head-right .flag img.selected {opacity: 1;}
.head-right img.spain-badge {height: 25px; opacity: 0.3;position: absolute; right: -5px; top:2px;}
.head-right img.spain-badge.active {opacity: 1;}
#logo {margin:0px 15px 10px 15px; float:left;}
.head-left:after {
	content:"";
	width:71px;
	height:28px;
	position:absolute;
	background:url(../images/inverted-mount.png) no-repeat;
	top:70px;
	left:100px;
	z-index:1;
}


/* Footer */
.foot-container {width:100%; z-index:1; background: #575d3e; min-width: 1180px; position: absolute; bottom:0px;}
.footer {padding:20px 0px; height:auto;}
.footer h1 {font-family:'Finger Paint', cursive; font-size:30px; color:#ff4b30; margin-bottom:30px;}
.widget {width:164px; color:#fff; float:left;}
.widget h6 {border-bottom:1px #fff solid; padding-bottom:5px; margin-bottom:10px; font-size:10px;}
.widet-alfa {margin-left:35px;}
.foot-links li a {
	font-family: 'OpenSansSemibold';
	font-size:9px;
	color:#fff;
	line-height:18px;
}
.foot-links {margin-left: 0px !important;}
.footer-social img {vertical-align:text-bottom;}
.footer-note {font-size:11px; text-align:center; color:#fff;}

/* Navigation */
#mainNav {float:left;}
#mainNav ul {display: none;}
#mainNav li:hover > ul {display: block;}
#mainNav {
	list-style: none;
	position: relative;
	top:40px;
}
#mainNav li {float: left;}
#mainNav li:hover {/*List Hover Effect*/}
#mainNav li:hover a {color:#000;}
#mainNav li a {
	display: block;
	text-decoration: none;
	text-align:left;
	font-size:12px;
	color:#444;
	padding:6px 8px;
}
#mainNav li a.hasSubmenu:after {content:" \25BC";}
#mainNav ul {
	padding: 0;
	position: absolute;
	z-index:1;
	border:1px #e5e5e5 solid;
}
#mainNav ul li {
	background-color:#fff;
	float: none;
	border-top: 1px solid #b5b5b5;
	position: relative;
}
#mainNav ul li a {
	font-size: 12px;
	color: #444 !important;
	font-weight:normal;
}
#mainNav ul li a:hover {color: #999 !important;}

/* Register & Login */
#regNav {
	list-style: none;
	position: relative;
	float:left;
	margin-left:15px;
	top:3px;
}
#regNav li {float: left;}
#regNav li a {
	display: block;
	text-decoration: none;
	text-align:left;
	font-size:12px;
	color:#444;
	padding:5px;
	padding-bottom: 0px;
}
#regNav li a:hover {color:#999;}
#regNav .username {
  position:relative;
  bottom:11px;
}
/* Login */
#login-content {
	display: none;
	position: absolute;
	top: 26px;
	right: 0;
	z-index: 999;
	padding-left:10px;
	width: 170px;
	background-color:#fff;
	border:1px #ccc solid;
	border-top:none;
}
#login-content input[type="text"], #login-content input[type="password"] {
	border:1px #b2b2b2 solid;
	display:block;
	margin:10px 0;
	padding:3px;
}
#login-content input[type="submit"] {
	width:73px;
	height:18px;
	background:url(../images/login-bg.png) no-repeat;
	border:none;
	color:#FFF;
	font-size:10px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:1px;
	cursor:pointer;
	position:relative;
	left:97px;
}
.login-note {font-size:10px !important; margin-bottom: 5px; color:#001f5a !important; text-transform:capitalize !important; padding:0 !important; letter-spacing:1px;}

.routeReg-pane {float:left; width:140px; margin-left:15px; margin-top:5px;}
.routeReg {line-height:15px;}
.routeReg-btn {font-family:'OpenSansSemibold'; font-size:12px; text-transform:uppercase; padding:4px 12px; border-radius:6px;}

.quick-search {margin-top:5px;}
.quick-search input[type="text"] {
	font-size:12px;
	padding:2px 18px 2px 2px;
	background:url(../images/icon-quicksearch.png) no-repeat right center;
	border:1px #dadada solid;
	border-radius:3px;
	transition:ease 0.5s;
}
.quick-search input[type="text"]:focus {
	border:1px #0066b7 solid;
}

/* Feedback Form */
.feedback {width:650px;height:330px;background-color:#dbe0e5; border:2px #ae6b20 solid; z-index:9;}
.feedback h4 {background-color:#ca8435; color:#FFF; font-family:'OpenSansSemibold'; line-height:22px; text-align:center; margin-bottom:15px;}
.feedback form {padding:0 25px;}
.feedback textarea {border:1px #cfd0d1 solid; height:150px; width:100%; resize:none;}
.feed-note {font-size:10px; color:#595959; line-height:20px;}
.feedback input[type="text"] {border:1px #cfd0d1 solid; padding:2px; width:300px; margin-top: -10px;}
.feedback input[type="submit"] {margin-top:-5px; float:right;}
.feedback table td {vertical-align:top; padding: 10px 10px;}
/* Gradients */
.blue-gradient {
	/*border	  : 1px #fff solid;*/
	color	  : #fff;
	background: #977055; /* Old browsers */
	background: -moz-linear-gradient(top, #977055 0%, #be845c 50%, #be845c 51%, #977055 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#977055), color-stop(50%,#be845c), color-stop(51%,#be845c), color-stop(100%,#977055)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #977055 0%,#be845c 50%,#be845c 51%,#977055 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #977055 0%,#be845c 50%,#be845c 51%,#977055 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #977055 0%,#be845c 50%,#be845c 51%,#977055 100%); /* IE10+ */
	background: linear-gradient(to bottom, #977055 0%,#be845c 50%,#be845c 51%,#977055 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#977055', endColorstr='#977055',GradientType=0 ); /* IE6-9 */
	}
.grey-gradient {
	border:1px #d9d9d9 solid;
	color:#333;
	background: #edeef0; /* Old browsers */
	background: -moz-linear-gradient(top,  #edeef0 0%, #ecedef 50%, #c9cad0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edeef0), color-stop(50%,#ecedef), color-stop(100%,#c9cad0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #edeef0 0%,#ecedef 50%,#c9cad0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #edeef0 0%,#ecedef 50%,#c9cad0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #edeef0 0%,#ecedef 50%,#c9cad0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #edeef0 0%,#ecedef 50%,#c9cad0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeef0', endColorstr='#c9cad0',GradientType=0 ); /* IE6-9 */
}
.real-blue-gradient{
	color	  : #fff;
	background: #5e95b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #5e95b3 0%, #498eb4 42%, #448eb4 43%, #428cb4 45%, #338ab4 49%, #2987b5 52%, #2187b5 53%, #1483b5 57%, #0d83b5 57%, #0083b5 58%, #0064b6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e95b3), color-stop(42%,#498eb4), color-stop(43%,#448eb4), color-stop(45%,#428cb4), color-stop(49%,#338ab4), color-stop(52%,#2987b5), color-stop(53%,#2187b5), color-stop(57%,#1483b5), color-stop(57%,#0d83b5), color-stop(58%,#0083b5), color-stop(100%,#0064b6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* W3C */
	filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e95b3', endColorstr='#0064b6',GradientType=0 ); /* IE6-9 */
}
/* jQuery UI Edits */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {border:1px #888 solid; background-color:#FFF; top:45%;}
.ui-accordion .ui-accordion-header {padding: .1em .5em .1em .7em; border-radius:0px;}
.ui-accordion .ui-accordion-icons {padding-left: 2.5em;}

.ui-tabs .ui-tabs-nav li {margin:0; border-radius:0; border:1px #bfbfbf solid; border-bottom:none; background:#f09887;background-color: gainsboro;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {margin:0; padding:0; background:#ff4b30;background-color: #b0ba8a;}
.ui-tabs .ui-tabs-nav li a {padding:5px 15px; color:#333;}

.ui-state-active a, .ui-state-hover a {outline:none;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {border-bottom-left-radius: 0px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-bottom-right-radius: 0px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {border-top-right-radius: 0px;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-top-left-radius: 0px;}

/* Home Page */
.camera {
	width:100%;
	height:410px;
	min-width: 1180px;
	background-size:cover;
}
.camera-span {
	position: absolute;
    top: 250px;
    left: calc(50% - 258px);
}
.camera-span h1 {
	font-size: 50px;
	color:#fff;
	text-transform: uppercase;
	font-style: 600;
	text-align: center;
	font-family: 'OpenSansBold';
}
.camera-span p {
	font-size: 18px;
	color:#fff;
	font-style: 400;
	text-align: center;
}
.camera-span-btn {
	margin: 10px auto;
	height: 40px;
	width: 335px;
	text-align: center;
    position: absolute;
    top: 330px;
    left: calc(50% - 167px);
}
.camera-span-btn a.btn {
	width: 100px;
	border-radius: 4px;
	background: rgba(255, 255, 255, .6);
	display: block;
	float:left;
	text-align: center;
	padding: 10px;
	color:#fff;
	font-family: 'OpenSansSemiBold';
	font-size: 16px;
}
.camera-socialPane {overflow: hidden;margin-top:0;position: absolute;top: 540px;left: calc(50% - 140px);}
.camera-social li {display:inline-block; margin:0 5px;}
.home-counter {
	width: 25%;
	float: left;
	padding: 15px 0;
}
.home-counter h1{
	font-size: 60px;
	color: #808080;
}
.home-counter h1.dos{
	font-size: 60px;
	color: #8e3713;
}
.home-counter p {
	color: #333333;
	font-size: 16px;
}
.news {margin-bottom: 0 !important;}
.news h1{
	font-size: 40px;
	color: #8e3713;
	text-align: center;
	text-transform: uppercase;
	font-family: 'OpenSansSemiBold';
	overflow: hidden;
}

.news-select .chosen-single {
   	background: url(../images/select_arrow.png) no-repeat right !important;
    color: #333333 !important;
    background: none !important;
    box-shadow: none !important;
    font-size: 16px !important;
}

.news-select {
   	width: 310px;
   	/*height: 34px;
   	overflow: hidden;*/
   	background: url(../images/select_arrow.png) no-repeat right;
    margin: 10px auto;
	  margin-bottom: 20px;
    color: #333333;
    cursor: pointer;
}
.news-select .chosen-results li.highlighted {
	background-image: none !important;
	background-color: #8e3713 !important;
}
#news_select_chosen select, .news-select select {
   	background: transparent;
   	width: 308px;
   	padding: 5px;
   	font-size: 16px;
   	line-height: 1;
   	border: 0;
   	border-radius: 0;
   	height: 34px;
   	-webkit-appearance: none;
   	cursor: pointer;
}

.jcarouselNewsWrapper .news-image a {
	display: block;
}
.jcarouselNewsWrapper .news-image a:hover {
	opacity: 0.7;
}
.jcarouselNewsWrapper .news-description .tit_act {
	text-align: center;
	height: 45px;
  	margin-top: 5px;
}
.jcarouselNewsWrapper .news-description .tit_act a {
	color: #333;
	font-size: 14px;
	text-align: center;
}
.jcarouselNewsWrapper .news-description .descr_act {
	color: #333;
	font-size: 12px;
	text-align: center;
	height: 30px;
}
.jcarouselNewsWrapper .news-description .date_act{
  border-top: 1px solid #333;
  font-size: 10px;
  color: #999;
  margin-top: 0px;
  text-align: center;
  padding-top: 5px;
  display: block;
}
.jcarouselNewsWrapper .news-description .author_act {
  	font-size: 10px;
  	color: #999;
  	margin-top: 5px;
  	text-align: center;
  	display: block;
  	line-height: 15px;
  	height: 30px;
}
.partners h4{
	font-size: 20px;
	color: #3c3c3c;
	text-align: center;
	text-transform: uppercase;
	font-family: 'OpenSansSemiBold';
	overflow: hidden;
}

.partners a:hover {opacity: .7;}
.partners img {margin: 0 auto;height: 26px;margin-top: 15px;margin-right: 25px;}
.press h4{font-size: 20px;color: #3c3c3c;text-align: center;text-transform: uppercase;font-family: 'OpenSansSemiBold';overflow: hidden;}
.press .box {width: 560px;margin: 15px auto;}
.press a {display: block;float: left;margin-right: 30px;}
.press a:hover {opacity: .7;display: block;}
.press img {margin: 0 auto;height: 23px;margin-top: 15px;display: block;}
.press a:last-of-type {margin-right: 0px;}

#register {
	display:none;
	width:500px;
	padding: 10px;
	background: #e6e6e6;
}
#register h1 {
	margin-bottom: 20px;
	font-size: 30px;
	color: #333;
	text-align: center;
	font-family: 'OpenSansRegular';
}
#register form {
	margin-top: 10px;
}
.register-input-box {
	float:left;
	width: 45%;
  	margin-right: 25px;
}
.register-input-box p {
	font-size: 14px;
	color: #333;
	font-family: 'OpenSansRegular';
}
.register-input-box a{
	font-size: 10px;
	color: #333;
	font-family: 'OpenSansRegular';
}
.register-input-box a:hover {
	color: #999;
}
.register-input-box input {
	margin-top: 5px;
	margin-bottom: 2px;
	height: 24px;
	width: 100%;
	border-radius: 6px;
	padding: 5px;
	font-size: 14px;
	border: 2px solid #d9d9d9;
}
.login-btn {
	border: none;
	float: right;
	margin-top: 20px;
	margin-right: 5px;
	background: #8e3713;
	color: #fff;
	font-family: 'OpenSansSemibold';
  	font-size: 12px;
  	text-transform: uppercase;
  	padding: 4px 12px;
  	border-radius: 6px;
  	cursor: pointer;
}
.login-btn:hover {
	opacity: .7;
}
.clearfix {
	clear: both;
}
.fb-btn,
.g-btn {
	width: 100%;
	display: block;
	padding: 10px;
	margin-top: 20px;
	color: #fff !important;
	font-size: 14px !important;
	text-align: center;
}
.fb-btn:hover ,
.g-btn:hover {
	opacity: .7;
}
.fb-btn {
	background: #3b5998;
}
.g-btn {
	background: #d34836;
}
.line {
	height: 1px;
	width: 100%;
	background: #333;
	margin: 20px 0;
}
.register-txt {
	color: #333;
	margin-bottom: 10px;
	display: block;
}
.register-txt a {
	color: #005cb9 !important;
	margin-left: 10px;
}
.register-txt a:hover {
	opacity: .7;
}
.head-right .main-search {
	position: absolute;
  top: -37px;
  width: 203px;
  right: -80px;
  /*top: -5px;
  left: -250px;*/

}
.main-search input[type="text"] {
	width: 203px;
  height: 18px;
	padding:3px 25px 3px 3px;
	background:rgba(255, 255, 255, 0.6) url(../images/icon-mainsearch.png) no-repeat right center;
	/*font-size:18px;*/
	color:#333;
	float:left;
	/*border:2px #b7ba3b solid;*/
	border-radius:5px;
}
.main-search input[type="submit"] {
	width:31px;
	height:31px;
	padding:3px 3px 3px 3px;
	font-size:18px;
	color:#333;
	/*border:2px #b7ba3b solid;*/
	border-radius:5px;
	color:transparent;
	cursor:pointer;
	float:left;
	margin-left: 3px;
}
.main-search #hiking-search {
	background:rgba(255, 255, 255, 0.7) url(../images/hiking-icon.png) no-repeat center center;
}
.main-search #hill-search {
	background:rgba(255, 255, 255, 0.7) url(../images/climbing-icon.png) no-repeat center center;
}
.main-search-loading {background: rgba(255, 255, 255, 0.6) url(../images/ajax-loader-small.gif) no-repeat right center !important;}


.home-alpha {margin-bottom:25px; overflow:hidden;min-width: 1180px;}
.home-row {text-align: center; overflow-y: hidden;}
.ads img {float:left;}
.home-ads img {margin-top: 10px;margin-bottom: 5px;}
.home-beta {margin-left:50px;}

/* User Registration Page */
.forms {background:url(../images/andeshandbook_bg.jpg) no-repeat center center fixed; background-size:cover;}
.reg-panel {min-height:660px; padding-top:30px; padding-bottom:50px;}
.form-panel {width: 700px; margin:0 auto; padding:15px; background-color: rgba(255,255,255,0.8); color:#404040;}
.form-panel label {margin-top: 5px;}
.form-panel input {margin-top: 5px;}
.form-panel img {margin-top: 5px;}
.form-heading {font-family: 'OpenSansBold'; font-size:14px; margin-bottom:20px; padding-left:0em;}
.form-subheading {font-family: 'OpenSansItalic'; line-height:14px;font-size: 2em; padding-left:0em;}

.reg-table td {vertical-align:bottom;}
.reg-form label {color:#595959; display:block; font-size:11px; line-height:16px; margin-top:10px;}
.reg-form input[type="text"], .reg-form input[type="password"] {width:200px;}
.reg-form input[type="radio"] {margin-right:25px;}
.reg-form input[name="first_name"], .reg-form input[name="last_name"] {text-transform: capitalize;}
.reg-form select {width:200px; padding:2px;}
.reg-form a {color:#001f5a;}
.reg-note {font-size:9px;}

.green {width:18px; height:18px; background:url(../images/status-green.png) no-repeat;}
.green-editor {width:18px; height:18px; background:url(../images/status-green.png) no-repeat; float: left; margin-right: 4px;}
.check{ line-height: 18px; margin-bottom: 10px; padding: 3px; border: 1px solid #73ba7f; background: #d9f8de; color: #3cc33a; }
.red {width:18px; height:18px; background:url(../images/status-red.png) no-repeat;}

/* Route Page */
.etabs { margin:0; padding:0; }
.tab { display:inline-block; background:#ededed; border:1px #d9d9d9 solid; border-bottom:none; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; }
.tab a { font-size:10px; line-height:26px; display:block; padding:0 20px; outline:none; font-family:'OpenSansSemibold'; color:#a6a6a6;}
.tab a:hover { }
.tab.active {
	position:relative; border-color:#d9d9d9;
	background: #977055; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #5e95b3 0%, #498eb4 42%, #448eb4 43%, #428cb4 45%, #338ab4 49%, #2987b5 52%, #2187b5 53%, #1483b5 57%, #0d83b5 57%, #0083b5 58%, #0064b6 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e95b3), color-stop(42%,#498eb4), color-stop(43%,#448eb4), color-stop(45%,#428cb4), color-stop(49%,#338ab4), color-stop(52%,#2987b5), color-stop(53%,#2187b5), color-stop(57%,#1483b5), color-stop(57%,#0d83b5), color-stop(58%,#0083b5), color-stop(100%,#0064b6)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e95b3', endColorstr='#0064b6',GradientType=0 ); /* IE6-9 */
}
.tab a.active { color:#fff; }
.tab-container .panel-container { background:#fff; border:1px #d9d9d9 solid; padding:9px; -moz-border-radius:0 4px 4px 4px; -webkit-border-radius:0 4px 4px 4px; }
.panel-container {overflow:hidden;}

.descLeft, .descRight {float:left; margin:10px;}
.descLeft {width:580px;}
.descRight {width:280px; font-size: 11px;}
.routeDescLeft{margin:5px;}
.bottom-banners {background-color: #e6e6e6;width: 100%;padding: 10px;margin-left: -10px;}
.bottom-banners .banner-container {width: 420px;margin: 0 auto;}
.bottom-banners .banner-box {float: left;height: 90px;width: 130px;margin-right: 10px;}
.bottom-banners .banner-box a {display: block;}

.sidebar-nav {margin-bottom:20px;}
.sidebar-nav td {border:1px #d9d9d9 solid;}
.sidebar-nav a {display: block; text-indent: -99999px; width:92px; height:51px;}
.sidebar-nav .nav01 {background:url(../images/sidebar-nav.png) 644px 0;}
.sidebar-nav .nav01:hover {background:url(../images/sidebar-nav.png) 644px 51px;}
.sidebar-nav .nav02 {background:url(../images/sidebar-nav.png) 552px 0;}
.sidebar-nav .nav02:hover {background:url(../images/sidebar-nav.png) 552px 51px;}
.sidebar-nav .nav03 {background:url(../images/sidebar-nav.png) 460px 0;}
.sidebar-nav .nav03:hover {background:url(../images/sidebar-nav.png) 460px 51px;}
.sidebar-nav .nav04 {background:url(../images/sidebar-nav.png) 368px 0;}
.sidebar-nav .nav04:hover {background:url(../images/sidebar-nav.png) 368px 51px;}
.sidebar-nav .nav05 {background:url(../images/sidebar-nav.png) 276px 0;}
.sidebar-nav .nav05:hover {background:url(../images/sidebar-nav.png) 276px 51px;}
.sidebar-nav .nav06 {background:url(../images/sidebar-nav.png) 184px 0;}
.sidebar-nav .nav06:hover {background:url(../images/sidebar-nav.png) 184px 51px;}
.sidebar-nav .nav07 {background:url(../images/sidebar-nav.png) 736px 0;}
.sidebar-nav .nav07:hover {background:url(../images/sidebar-nav.png) 736px 51px;}
.sidebar-nav .nav08 {background:url(../images/sidebar-nav.png) 92px 0;}
.sidebar-nav .nav08:hover {background:url(../images/sidebar-nav.png) 92px 51px;}

.summary th, .summary td {padding:5px; border:1px #e5e5e5 solid;}
.summary th {background-color:#e0d69d; text-align:left; font-family:'OpenSansSemibold';}
.summary tr > td:first-child { font-family:'OpenSansSemibold';vertical-align: middle;}
/*.summary tr:nth-child(even) {font-family:'OpenSansSemibold';}*/
.summary img {vertical-align:middle; width:24px;}
.summary label{margin: 3px;}
.summary .hill_attraction, .summary .route_attraction{margin-right: 3px;}
/* General Description */
.mainPic-title {font-size:24px; color:#808080; position:absolute; top:0; background-color:rgba(255,255,255,0.8); width:97%; padding:2%}
.mainPic p {color: #EEEEEE;position: absolute;margin-left: 10px;bottom: 0;right: 0;display: block;padding: 10px;background-color: rgba(0,0,0,.3);}
.mainPic {position:relative;margin-bottom: 10px;display: block;height: 300px;width: 580px;}
.mainPic img {height: auto !important; position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);max-width: 100% !important;max-height: 100% !important;}
/* jcarousal hacks */
/*.jcarousel-skin-main .jcarousel-item-horizontal {display: block;height: 300px;width: 580px;}*/
.mainPic a {display: block !important;height: 300px!important;width: 580px!important;}


.shareBar {font-family:'OpenSansRegular'; min-height: 30px; background-color:#f0f0f0; padding:4px; border:1px #e5e5e5 solid; margin-bottom:10px;}
.shareBar img {vertical-align:middle;}
.shareBar label {text-align:right; float: right; font-size:11px;}
.shareBar p {text-align:right; font-size:11px;}
.shareBar .shareIcons {margin-top: 5px;}
.shareBar-table {padding: 0px;margin-bottom: 3px;}
.shareBar table {width: 100%;}
.shareBar table td {padding:3px;}
.shareBar table td.routes-btns {padding-top:10px;padding-bottom:10px;background-color: #fff;}
.shareBar table td.new-route {vertical-align: middle; text-align:center; padding:10px; width:100px;}
.shareBar .shareBar-btn{margin-right: 5px; border-radius: 3px; padding: 3px; font-size: 11px; display: inline-block;  margin: 2px;}
.shareBar a.colaborator {text-transform: capitalize;}

.routes-bar {font-family:'OpenSansRegular'; min-height: 30px; background-color:#f0f0f0; padding:4px; border:1px #e5e5e5 solid; margin-bottom:10px;}
.routes-bar img {vertical-align:middle;}
.routes-bar label {text-align:right; float: right; font-size:11px;}
.routes-bar p {text-align:right; font-size:11px;}
.routes-bar .shareIcons {margin-top: 5px;}
.routes-bar-table {padding: 0px;margin-bottom: 3px;}
.routes-bar table {width: 100%;}
.routes-bar table td {padding:3px;}
.routes-bar table td.routes-btns {padding-top:10px;padding-bottom:10px;background-color: #fff;}
.routes-bar table td.new-route {vertical-align: middle; text-align:center; padding:10px; width:100px;}
.routes-bar .routes-bar-btn{margin-right: 5px; border-radius: 3px; padding: 3px; font-size: 11px; display: inline-block;  margin: 2px;}
.routes-bar a.colaborator {text-transform: capitalize;}

.gd-btn {font-size:9px; padding:3px 9px; line-height:22px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-right:5px;}

.descTab h3, .reversalTab h3, .profileTab h3 {line-height:20px; font:inherit;}
.descTab h3 {font-size:120% !important; line-height:20px; font:inherit; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px #B2B2B2 solid}
.descContent {margin-bottom: 15px;}
.textblock {font-family: arial; font-size:13px;	text-align: justify; width:97%; float:left; padding:15px;}
.textblock .descContent p[style], .textblock .descContent span[style] {font-family: arial !important; color: black !important; line-height: normal !important; text-align: justify; /*width:97%;*/
white-space: normal !important;}
.textblock .descContent a span {color:blue !important;}
.descContent ul {list-style: inherit;}
.descContent ul, ol {padding-left:15px; margin-left:15px;}
.descContent p {
    margin: 0;
    padding: 0;
    border: 0;
}
.des-results-list li {height: 100%; border: 1px #808080 solid !important; border-radius: 0px !important; padding: 10px; width: 193px; margin-left: 20px; margin-top: 20px; float:left; list-style: none;}
.des-results-list img {height: 150px; max-height: 150px; max-width: 193px;}
.des-results-list li .route_name {text-align: center; margin-top: 10px;height: 50px;}
.des-results-list li .tit_act {text-align: center;margin-top: 5px;height: 20px;}
.des-results-list li a {color: #333; font-size: 12px; text-align: center;}
.des-results-list li .tit_act a {font-size: 12px;}
.des-results-list li .descr_act {color: #333; font-size: 12px; text-align: center; height: 30px;border-top: 1px solid #333; padding-top: 5px;}
/* Journey Description */
#journey-tabs {border:none; padding:0;}
#journey-tabs .ui-tabs-panel {padding:0;}
#journey-tabs ul {background:none; border:none; padding:0; margin-bottom:20px;}
#journey-tabs ul li {border:none; margin-right:10px; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;}
#journey-tabs .ui-tabs-nav li a {color:#fff; padding:8px;}
.delete-journey-icon {position:absolute; top:-3px; right:0px; cursor:pointer; margin-top: 0px !important;}

/* Route Reversal */
.reversal-table th {background-color:#f7f7f7; padding:4px; border:1px #d9d9d9 solid;}
.reversal-table td {padding:4px; border:1px #d9d9d9 solid; font-size:10px;}
.reversal-table td:first-child {color:#00668C;}

/* Comments */
.comment-half {width:430px; float:left; margin-left:10px; margin-right:10px;}

.stateComment-heading {font-family:'OpenSansSemibold'; font-size:11px; background-color:#e5e5e5; color:#333; border:1px #d9d9d9 solid; padding:5px;}
.stateComment {padding:9px; border:1px #d9d9d9 solid;}

.bestComment-heading {font-family:'OpenSansSemibold'; font-size:11px; background-color:#977055; color:#FFF; border:1px #977055 solid; padding:5px;}
.bestComment {padding:9px; border:1px #977055 solid;}
.static-like {color:#808080; font-size:10px; text-align:right;}

.allComment {padding:9px; border:1px #d9d9d9 solid; margin-top:20px;}
.likebox {background:url(../images/likebox.png) no-repeat; color:#333; float:right; font-size:12px; line-height:20px; padding:0 8px 0 27px;}

.comment {width:410px; margin-bottom:5px; overflow:hidden;}
.commentor {color:#026687; font-family:'OpenSansSemibold'; margin-bottom:5px; line-height:16px;}
.commentor span {color:#808080; font-size:10px;}
.comment img {float:left; height:50px;}
.comment img.profile-thumb {
    float: left;
    height: auto;
    width: 50px;
}
.comment-content {
	position:relative;
	float:left;
	margin-left:25px;
	margin-bottom:5px;
	width:320px;
	padding:5px;
	background-color:#e5e5e5;
	border:1px #bfbfbf solid;
	font-size:11px;
	line-height:16px;
}
.comment .comment-content img {float:none; height:15px;vertical-align: bottom;}
.comment .comment-content img.comment-img {height:100px;}
.point {
	width:18px;
	height:20px;
	background:url(../images/point.png) no-repeat;
	position:absolute;
	left:-18px;
	top:-1px;
}

.commentForm-container {width:410px; border:1px #bfbfbf solid; padding:9px; background-color:#e5e5e5;}
.commentForm-Title {font-size:14px; font-family:'OpenSansSemibold'; color:#333; margin-bottom:10px;}
.commentForm textarea {width:400px; height:100px; border:1px #d9d9d9 solid;}
.commentForm label {display:block; font-size:14px; margin-top:5px;}
.commentForm input[type="submit"] {
	width:172px;
	height:23px;
	/*background:url(../images/comment-bg.png) no-repeat;*/
	border:none;
	color:#FFF;
	font-family:'OpenSansSemibold';
	font-size:11px;
	text-transform:uppercase;
	cursor:pointer;
	position:relative;
	left:247px;
	top:9px;
	background: #997156;
    background: -moz-linear-gradient(top, #997156 0%, #be845c 40%);
    background: -webkit-linear-gradient(top, #997156 0%,#be845c 40%);
    background: linear-gradient(to bottom, #997156 0%,#be845c 40%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#997156', endColorstr='#be845c',GradientType=0 );

}
.commentForm .triangle {
	height: 23px;
	width: 23px;
	position:relative;
	left: 224px;
    top: 32px;
	background: #997156;
    background: -moz-linear-gradient(top, #997156 0%, #be845c 40%);
    background: -webkit-linear-gradient(top, #997156 0%,#be845c 40%);
    background: linear-gradient(to bottom, #997156 0%,#be845c 40%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#997156', endColorstr='#be845c',GradientType=0 );
}
.commentForm .triangle:after {
    -moz-transform: rotate(45deg);
    -ms-transform:rotate(45deg); /* Internet Explorer */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    -o-transform:rotate(45deg); /* Opera */
    background: none repeat scroll 0 0 #e5e5e5;
    content: "";
    height: 33px;
    left: -14px;
    position: absolute;
    top: -16px;
    width: 30px;
}

/* Upload Route */
.choose-route td {vertical-align:middle;}

.route-form p {
	font-family:'OpenSansSemibold';
	font-size: 18px;
	line-height:36px;
	padding-top: 10px;
}
.route-form strong {font-family:'OpenSansSemibold'; color:#333;}
.compulsory {color:#ff4b30;}
.route-form label {
	color: #595959;
	display: block;
	font-size: 11px;
	line-height: 16px;
}
.route-form input[type="text"] {
	width:95%;
	border:1px #b2b2b2 solid;
	padding:3px;
}
.route-form textarea {
	width:95%;
	/*border:none;*/
	height: 140px;
	border:1px #b2b2b2 solid;
	resize:none;
}
.descText {min-height:100px;}

.route-form input[type="file"] {width:215px;}
.route-form select {border:1px #b2b2b2 solid; padding:2px; width:160px; margin-top: 5px; height:20px;}
.route-form .right-selector {width:240px;}
.route-form .left-selector {width:238px;}
.route-form .route_difficulty_img {margin-left: 3px;}
.last-table {margin-top:20px;}
.upload-radios {margin-top:10px; padding-right: 25px;}
.upload-radios input[type="radio"], .upload-radios input[type="checkbox"] {float:left;}
.upload-radios dd {overflow:hidden; font-size:12px; margin-bottom:10px; padding-left:5px;}
.upload-radios dd img {padding-right:5px;}

.attractive-list {margin-top:10px;margin-left: 0px;}
.attractive-list li {float:left; width: 210px; margin: 5px 0;}
.attractive-list img {vertical-align:middle; padding:0 5px;}

.main_gallery li , .gallery li {float:left; width:200px; margin:10px;}
.main_gallery li div , .gallery li div {width:200px; position:relative;}
.main_gallery .close, .gallery .close {position:absolute; top:3px; right:3px; cursor:pointer;}
.main_gallery .gallery-number , .gallery .gallery-number {position:absolute; left:3px; color:white;}
.main_gallery input[type="text"], .gallery input[type="text"] {
	display:block;
	border:1px #b2b2b2 solid;
	padding:2px;
	margin:8px 0;
}

.sub-save {width:104px; height:23px; background:url(../images/save.png) no-repeat; border:none; text-indent:-9999px; cursor: pointer;}
.sub-post {width:99px; height:23px; background:url(../images/send.png) no-repeat; border:none; text-indent:-9999px; cursor: pointer;}
.sub-edit {width:99px; height:21px; vertical-align: middle; background:url(../images/edit.png) no-repeat; border:none; text-indent:-9999px; cursor: pointer;}
.sub-preview {width:134px; height:23px; background:url(../images/preview.png) no-repeat; border:none; text-indent:-9999px; cursor: pointer;}
.sub-back {width:100px; height:20px; background:url(../images/back.png) no-repeat; border:none; text-indent:-9999px; cursor: pointer;}

/* Add Journey Tabs */
#addjourney {border:none; padding:0; border-radius:0; background:none;}
#addjourney .journey {border:1px #bfbfbf solid;background-color: gainsboro;}
#addjourney ul {border:none; border-radius:0; background:none; padding:0;}
#addjourney .gallery-ul {display: inline-block;}
#addjourney label {font-size:12px;}
#add_tab {margin-top:0px; display:inline-block; cursor:pointer;}
.journey input {margin-bottom: 15px;}
/* Upload Mountain Route */
.mount-form label {margin-top:10px; margin-bottom:5px;}
.mount-diff {font-size:8px;}
.mount-form .radio-difficulties {float:left; clear:none; width: 100%; margin-bottom: 15px;}
.mount-form .radio-difficulties img { float:left; clear:none; display:block; padding: 2px 1em 0 5px; margin-top: 0px;}
.mount-form .radio-difficulties input[type=radio] { float:left; clear:none; margin: 2px 0 0 2px; margin-top: 7px;}


.slider-cover {height:17px; background:url(../images/slider-bg.png) no-repeat; padding:0 5px;}
.range-slider {width:135px; background:none; border:none;}
.ui-slider .ui-slider-handle {width:7px; height:7px; background:url(../images/slide-roll.png) no-repeat; border:none; top:5px; margin-left:-1px;}
.ui-slider .ui-slider-handle:focus {outline:none;}

/* Profile Page */
.profile-content {padding-top:30px;}

.userTitle {background:url(../images/userTitle.png) no-repeat; position:relative; padding: 15px 10px 60px 10px; color:#FFF; font-family: 'OpenSansBold'; font-size:16px;}
.userNav {position:absolute; right:5px; top:20px;}
.userNav li {float:left;	width: auto; height: 30px; margin-right:10px; -webkit-transform: skew(20deg); -ms-transform: skew(20deg); -moz-transform: skew(20deg); -o-transform: skew(20deg); background: white; bottom: 10px;}
.userNav li a {font-size:18px; color:#404040; padding:2px 10px 3px 10px;}
.userNav img { vertical-align: middle; padding: 2px; margin-top:2px; -webkit-transform: skew(-20deg); -ms-transform: skew(-20deg); -moz-transform: skew(-20deg); -o-transform: skew(-20deg); }
.userNav li a label {	font-style: italic; top: 3px; position: relative; -webkit-transform: skew(-20deg); -ms-transform: skew(-20deg); -moz-transform: skew(-20deg); -o-transform: skew(-20deg);}
/*
.userNav li a {font-size:18px; color:#404040; padding:2px 23px 3px 50px;}
.userNav li a.nav1 {background:url(../images/userHead-nav1.png) no-repeat;}
.userNav li a.nav2 {background:url(../images/userHead-nav2.png) no-repeat;}
.userNav li a.nav3 {background:url(../images/userHead-nav3.png) no-repeat;}
.userNav li a.nav4 {background:url(../images/userHead-nav4.png) no-repeat;}
*/

#user-tabs {margin-top:20px;}
.user-profile { margin:0; padding:0; }
.user { display:inline-block; /*background:#608baf;*/ background:#977055; border:solid 1px #d9d9d9; border-bottom:none; }
.user a { font-size:14px; line-height:28px; display:block; padding:0 10px; color:#FFF; text-indent:25px; }
.user a:hover { }
.user.active { background:#fff; padding-top:1px; position:relative; top:1px; border-color:#d9d9d9; }
.user a.active {color:#333; }

.user a.icon-profile {background:url(../images/usericon-profile.png) no-repeat 10px center;}
.user a.icon-profile.active {background:url(../images/usericon-profile-active.png) no-repeat 10px center;}
.user a.icon-account {background:url(../images/usericon-account.png) no-repeat 15px center;}
.user a.icon-account.active {background:url(../images/usericon-account-active.png) no-repeat 15px center;}
.user a.icon-routes {background:url(../images/usericon-routes.png) no-repeat 12px center;}
.user a.icon-routes.active {background:url(../images/usericon-routes-active.png) no-repeat 12px center;}
.user a.icon-inbox {background:url(../images/usericon-inbox.png) no-repeat 10px center;}
.user a.icon-inbox.active {background:url(../images/usericon-inbox-active.png) no-repeat 10px center;}
.user a.icon-people {background:url(../images/usericon-people.png) no-repeat 10px center;}
.user a.icon-people.active {background:url(../images/usericon-people-active.png) no-repeat 10px center;}
.user a.icon-edit {background:url(../images/usericon-edit.png) no-repeat 10px center;}
.user a.icon-edit.active {background:url(../images/usericon-edit-active.png) no-repeat 10px center;}

.user-container .user-panel { background:#fff; border-top:solid #d9d9d9 1px; padding:15px 0; overflow:hidden; font-size:13px; }

.profileDesc {float:left; width:640px;}
.profileSide {float:left; width:300px;}
.profileMargin {margin-right:20px;}

.profileDesc p {line-height:18px;}

.profileDesc fieldset {padding: 0px;}

/* Profile Tab */
.profilePic {padding:3px; border:1px #333 solid; margin-right:10px;}
.userName {font-family:'OpenSansBold'; color:#595959; line-height:28px;}
.user-container fieldset {margin-bottom:15px; margin-top:15px; border:1px #d9d9d9 solid; padding:14px;}
.user-container legend {padding:0 5px;}
.aboutUser td {padding:5px 0; color:#808080;}
.aboutUser td:first-child {font-family:'OpenSansSemibold';}
.user-routes {overflow-y:scroll !important; max-height:138px;padding-bottom: 3px;}
.user-routes li {float:left; margin:8px; text-align: center;}
.user-routes p {font-size:10px; color:#808080; text-align:center; width:140px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.user-routes img {width:100px; height:100px; border-radius:10px;}

.activityHeading {background-color:#f2f2f2; border:1px #d9d9d9 solid; padding:4px;}
.activity-container {border:1px #bfbfbf solid;overflow-y:auto; height:200px;}
.activityDate {border-top:1px #bfbfbf solid; border-bottom:1px #bfbfbf solid; line-height:22px; margin:5px 0; font-size:12px; color:#808080; text-indent:10px;}
.activities {line-height:20px; margin:5px 0; font-size:12px; color:#808080; overflow:hidden; margin-left:10px;}
.activities img {width:40px; height:40px; margin-right:5px;}

.profileContact li {display:inline; margin-right:50px;}
.profileContact img {vertical-align:middle; margin-right:5px;}

.userWidget {border:1px #e5e5e5 solid; background-color:#f2f2f2; padding:10px; margin-bottom:15px;overflow:hidden;}
.widgetHead {font-family:'OpenSansBold'; color:#404040; text-align:center; border-bottom:1px #e5e5e5 solid; padding-bottom:10px;}
.widgetLinks li {margin:15px; font-size: 13px;}
.widgetLinks li a {color:#595959; vertical-align: bottom;}
.widgetLinks img {margin-right:10px; vertical-align:middle;}

.followHead {font-family:'OpenSansBold'; color:#FFF; font-size:11px; line-height:24px; background:url(../images/followHead.png) no-repeat; text-indent:5px;}
.followHead span {color:#444; margin-left:25px;}
.followContainer {background-color:#FFF; border:1px #d9d9d9 solid; height:294px; overflow-y:scroll;}
.followContainerImage {display:inline;}
.followContainerImage .text {
position: relative;
color: #808080;
font-style: bold;
/* top: 0px; */
left: 5px;
/* visibility: hidden; */
text-align: center;
font-size: 10px;
}
/*
.followContainerImage:hover .text {
visibility:visible;
}
.followContainerImage:hover img {
opacity: 0.2;
}*/

.proFollowers {width:55px; height:55px; margin:6px 5px 3px 6px;}

/* My Settings */
.editUser h4 {font-family:'OpenSansBold'; font-size:14px; color:#404040;}
.editUser h5 {font-family:'OpenSansSemibold'; font-size:12px; color:#404040;}
.editUser td {vertical-align:top;}
.editUser label {color:#595959; display:block; font-size:11px; line-height:16px; margin-top:10px;}
.editUser input[type="text"], .editUser input[type="password"] {width:200px; padding-left:2px;}
.editUser input[type="radio"] {margin-right:25px;}
.editUser select {width:200px; padding:2px;}
.editUser textarea {width:550px; height:100px; resize:none;}
.topMargin {margin-top:20px;}

.profilePicture {border:4px #fff solid;}
.uploadPicture {font-family:'OpenSansSemibold'; font-size:12px; color:#595959; margin:5px 0;}

/* My Routes */
.myrouteHead {font-family:'OpenSansSemibold'; color:#595959;}

/* Inbox */
.compose label {display:block; color:#333; font-size:12px; line-height:20px; margin-top:5px;}
.compose input[type="text"] {width:240px; border:1px #d9d9d9 solid; padding:3px;}
.compose textarea {width:500px; height:100px; border:1px #d9d9d9 solid; padding:3px; resize:none;}
.sub-compose {float:right;}
.progress-para {font-size:12px; line-height:24px;}
#progressbar {height:1.5em;}

.mail-search {margin-top:10px; overflow:hidden;}
.mail-search input {float:left;}
.mail-search input[type="text"] {margin:0; padding:2px; width:230px; border:1px #d9d9d9 solid;}

/* People */
.followPanel {width:290px; float:left;}
h6.resultHead {font-size:12px; margin:15px 0;}

#searchResults li {padding:3px; border:1px #d9d9d9 solid; overflow:hidden;}
#searchResults img {width:60px; height:60px; padding:3px; border:1px #333 solid; margin-right:5px;}
#searchResults h6 {font-family: 'OpenSansSemibold'; font-size:12px; line-height:16px;}
#searchResults blockquote {font-family: 'OpenSansItalic'; font-size:12px; line-height:16px;}
#searchResults a {color:#001f5a; font-size:10px;}

/* Edit Tab */
.edit-table th, .edit-table td {padding:6px; font-size:12px;}
.edit-table {border:1px #d9d9d9 solid; border-collapse: inherit}
.edit-table th {background-color:#f2f2f2; text-align:left;}
.edit-table td {color:#001f5a; border-top:1px #d9d9d9 dotted;}
#edit h6 {font-family: 'OpenSansSemibold'; color:#595959; line-height:36px;}

/* Advance Search Page */
.search-content {    padding-top: 30px;padding-bottom: 10px;overflow: hidden;}
.search-content2 {overflow:hidden;position: relative;top: -450px;left: 10px;width: 200px;}
.search-bar, .list-bar {float:left;}
.search-bar {width:200px; margin-right:20px;}
.search-bar-header {background:#D4CCB5;height: 26px; width:190px;padding:5px 5px 0 5px;border-bottom: 1px solid #BFBFBF;}
.search-bar-header a, .search-bar-header label {font-family:'OpenSansSemibold';width: 50%;display: block;float: left;text-align: center;padding: 5px 0;text-transform: uppercase;color: #9E9886;}
.search-bar-header a:hover, .search-bar-header label:hover, .search-bar-header a.active, .search-bar-header label.active{color:#008000;text-decoration: none;border-bottom: 2px solid #008000;}
.search-bar-header a:nth-child(2):hover, .search-bar-header a:nth-child(2).active {color:#00367A;border-bottom: 2px solid #00367A;}
.map-wrapper {width: 100%;height: 510px;}
.map-area {width:100%; margin-right:20px;height: 510px;}
.search-bar-footer {background:#D4CCB5;height: 26px; width:190px;padding:5px 5px 0 5px;border-top: 1px solid #BFBFBF;}
.search-bar-footer a {font-family:'OpenSansSemibold';width: 50%;display: block;float: left;text-align: center;padding: 5px 0;text-transform: uppercase;color: #9E9886;}
.search-bar-footer a:hover {color:#B38D3B;text-decoration: none;border-bottom: 2px solid #B38D3B;}

.hill_map .map-area {width:97%;}
.map-search {margin-left: 2%; min-height: 100px !important;}
.map-search .results-list li:last-child {margin-bottom: 320px;}
.map-search .results-list li {height: 100%; border: 1px #808080 solid !important; border-radius: 0px !important; padding: 10px; width: 193px; margin-left: 20px; margin-top: 20px; float:left; list-style: none;}
.map-search .results-list img {height: 150px; max-height: 150px; max-width: 193px;}
.map-search .results-list li .route_name {text-align: center; margin-top: 10px;height: 50px;}
.map-search .results-list li .tit_act {text-align: center;margin-top: 5px;height: 20px;}
.map-search .results-list li a {color: #333; font-size: 12px; text-align: center;}
.map-search .results-list li .tit_act a {font-size: 12px;}
.map-search .results-list li .descr_act {color: #333; font-size: 12px; text-align: center; height: 30px;border-top: 1px solid #333; padding-top: 5px;}
.map-search h2 {font-family: 'OpenSansSemibold'; color:#595959; line-height:36px; text-align: center;}
.list-bar {width:190px;}

.mapTitle {color:#808080; font-family:'OpenSansSemibold'; font-size:12px; margin-bottom:10px;}
.searchTitle {font-family:'OpenSansSemibold'; font-size:12px; color:#fff; padding:7px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.listTitle {font-family:'OpenSansSemibold'; font-size:12px; color:#808080; padding:7px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

.advanceSearch {background-color:#fff; padding:10px;}
.advanceSearch label {display:block; color:#333; line-height:7px;}
.advanceSearch .slct {width: 180px;height: 25px;overflow: hidden;border-bottom: 1px solid #9E9886;}
.advanceSearch .slct select {background: transparent;width: 180px;padding: 5px;font-size: 12px;line-height: 1;border: 0;border-radius: 0;height: 25px;cursor: pointer;}
.advanceSearch .hiking-filter, .advanceSearch .climbing-filter{display:none;}

.box {padding: 5px;padding-top: 0;}
.box p {color:#808080;margin:5px 0;}
.col-25 {width: 25%;height: 20px;float: left;}
.col-25 p {color:#633E28;font-size: 10px;}


.diff {display:block;margin:0 9px;float: left;}
.diff img {height: 24px; width: 24px;}
.diff:hover {opacity: .5;}

.difficulty-5, .difficulty-6, .difficulty-7, .difficulty-8, .difficulty-9, .difficulty-10, .difficulty-11 {width: 25px !important;margin: 2px 7px !important;}

.advanceSearch input[type="text"] {border:1px #d9d9d9 solid; background:#ededed url(../images/icon-quicksearch.png) no-repeat right center; padding-right:18px; width:130px;}
.max-value {float:right;}



.searchList {background-color:#e6e6e6; border:1px #d9d9d9 solid; margin-top:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; height:462px; overflow-y: scroll; overflow-x: hidden;}
.searchList .view-more {color:#001F5A; line-height:22px; padding-right:10px;}
.resultTable tr {border-bottom:1px #c9cacb solid;}
.resultTable td {padding:5px;}
.resultTable td + td {border-left:1px #c9cacb solid;}
.resultTable a {color:#00668C;}

.loader { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url(../images/ajaxloader.gif) 50% 50% no-repeat rgba(0,0,0,0.4); background-size: 300px;}

/* Custom Checboxes */
input[type="checkbox"].easycheck {display:none;}
input[type="checkbox"].easycheck + label {display:inline;}
/*input[type="checkbox"].easycheck + label span {
	display:inline-block;
    width:24px;
    height:24px;
	margin: 0px 6px;
    cursor:pointer;
}
input[type="checkbox"].easycheck + label span.attractive-17,
input[type="checkbox"].easycheck + label span.attractive-18,
input[type="checkbox"].easycheck + label span.attractive-19,
input[type="checkbox"].easycheck + label span.attractive-20,
input[type="checkbox"].easycheck + label span.attractive-21,
input[type="checkbox"].easycheck + label span.attractive-22,
input[type="checkbox"].easycheck + label span.attractive-23 {
	display:inline-block;
    width:25px;
    height:25px;
	margin: 0px 7px;
    cursor:pointer;
}
input[type="checkbox"].easycheck + label span.easy,
input[type="checkbox"].easycheck + label span.medium,
input[type="checkbox"].easycheck + label span.hard,
input[type="checkbox"].easycheck + label span.expert {
	margin:0 5px;
}*/

#printable-modal h3 {font-size:120% !important; line-height:20px; font:inherit; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px #B2B2B2 solid}
#printable-modal p {font-size: 13px;font-family: Arial;}
#printable-modal label {font-size: 13px;font-family: Arial;}
#printable-modal input {margin-right: 10px;}
#printable-modal li {margin-top: 10px;}
#printable-modal .submit-printable {margin-left: 150px;}
/* ROUTE ATTRACTIVES */
input[type="checkbox"].easycheck + label span.attractive-3 {background:url(../images/attractive.png) no-repeat 0px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-3 {background:url(../images/attractive.png) no-repeat 0px 0px;}

input[type="checkbox"].easycheck + label span.attractive-7 {background:url(../images/attractive.png) no-repeat -24px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-7 {background:url(../images/attractive.png) no-repeat -24px 0px;}

input[type="checkbox"].easycheck + label span.attractive-10 {background:url(../images/attractive.png) no-repeat -48px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-10 {background:url(../images/attractive.png) no-repeat -48px 0px;}

input[type="checkbox"].easycheck + label span.attractive-1 {background:url(../images/attractive.png) no-repeat -72px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-1 {background:url(../images/attractive.png) no-repeat -72px 0px;}

input[type="checkbox"].easycheck + label span.attractive-2 {background:url(../images/attractive.png) no-repeat -96px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-2 {background:url(../images/attractive.png) no-repeat -96px 0px;}

input[type="checkbox"].easycheck + label span.attractive-11 {background:url(../images/attractive.png) no-repeat -120px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-11 {background:url(../images/attractive.png) no-repeat -120px 0px;}

input[type="checkbox"].easycheck + label span.attractive-6 {background:url(../images/attractive.png) no-repeat -144px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-6 {background:url(../images/attractive.png) no-repeat -144px 0px;}

input[type="checkbox"].easycheck + label span.attractive-4 {background:url(../images/attractive.png) no-repeat -168px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-4 {background:url(../images/attractive.png) no-repeat -168px 0px;}

input[type="checkbox"].easycheck + label span.attractive-5 {background:url(../images/attractive.png) no-repeat -192px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-5 {background:url(../images/attractive.png) no-repeat -192px 0px;}

input[type="checkbox"].easycheck + label span.attractive-8 {background:url(../images/attractive.png) no-repeat -216px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-8 {background:url(../images/attractive.png) no-repeat -216px 0px;}

input[type="checkbox"].easycheck + label span.attractive-9 {background:url(../images/attractive.png) no-repeat -240px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-9 {background:url(../images/attractive.png) no-repeat -240px 0px;}

input[type="checkbox"].easycheck + label span.attractive-12 {background:url(../images/attractive.png) no-repeat -264px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-12 {background:url(../images/attractive.png) no-repeat -264px 0px;}

input[type="checkbox"].easycheck + label span.attractive-13 {background:url(../images/attractive.png) no-repeat -288px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-13 {background:url(../images/attractive.png) no-repeat -288px 0px;}

input[type="checkbox"].easycheck + label span.attractive-15 {background:url(../images/attractive.png) no-repeat -312px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-15 {background:url(../images/attractive.png) no-repeat -312px 0px;}

input[type="checkbox"].easycheck + label span.attractive-14 {background:url(../images/attractive.png) no-repeat -336px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-14 {background:url(../images/attractive.png) no-repeat -336px 0px;}

input[type="checkbox"].easycheck + label span.attractive-16 {background:url(../images/attractive.png) no-repeat -360px -24px;}
input[type="checkbox"].easycheck:checked + label span.attractive-16 {background:url(../images/attractive.png) no-repeat -360px 0px;}

input[type="checkbox"].easycheck + label span.attractive-17 {background:url(../images/climbing_attractive.png) no-repeat 0px -25px;}
input[type="checkbox"].easycheck:checked + label span.attractive-17 {background:url(../images/climbing_attractive.png) no-repeat -0px 0px;}

input[type="checkbox"].easycheck + label span.attractive-18 {background:url(../images/climbing_attractive.png) no-repeat -26px -25px;}
input[type="checkbox"].easycheck:checked + label span.attractive-18 {background:url(../images/climbing_attractive.png) no-repeat -26px 0px;}

input[type="checkbox"].easycheck + label span.attractive-19 {background:url(../images/climbing_attractive.png) no-repeat -51px -25px;}
input[type="checkbox"].easycheck:checked + label span.attractive-19 {background:url(../images/climbing_attractive.png) no-repeat -51px 0px;}

input[type="checkbox"].easycheck + label span.attractive-20 {background:url(../images/climbing_attractive.png) no-repeat -76px -25px;}
input[type="checkbox"].easycheck:checked + label span.attractive-20 {background:url(../images/climbing_attractive.png) no-repeat -76px 0px;}

input[type="checkbox"].easycheck + label span.attractive-21 {background:url(../images/climbing_attractive.png) no-repeat -101px -25px;}
input[type="checkbox"].easycheck:checked + label span.attractive-21 {background:url(../images/climbing_attractive.png) no-repeat -101px 0px;}

input[type="checkbox"].easycheck + label span.attractive-22 {background:url(../images/climbing_attractive.png) no-repeat -127px -25px;}
input[type="checkbox"].easycheck:checked + label span.attractive-22 {background:url(../images/climbing_attractive.png) no-repeat -127px 0px;}

input[type="checkbox"].easycheck + label span.attractive-23 {background:url(../images/climbing_attractive.png) no-repeat -152px -25px;}
input[type="checkbox"].easycheck:checked + label span.attractive-23 {background:url(../images/climbing_attractive.png) no-repeat -152px 0px;}

input[type="checkbox"].easycheck + label span.attractive-24 {background:url(../images/climbing_attractive.png) no-repeat -177px -26px;}
input[type="checkbox"].easycheck:checked + label span.attractive-24 {background:url(../images/climbing_attractive.png) no-repeat -177px -1px;}

/* ROUTE DIFFICULTIES */
input[type="checkbox"].easycheck + label span.difficulty-1 {background:url(../images/difficulty.png) no-repeat 0px -25px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-1 {background:url(../images/difficulty.png) no-repeat 0px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-2 {background:url(../images/difficulty.png) no-repeat -24px -25px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-2 {background:url(../images/difficulty.png) no-repeat -24px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-3 {background:url(../images/difficulty.png) no-repeat -48px -25px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-3 {background:url(../images/difficulty.png) no-repeat -48px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-4 {background:url(../images/difficulty.png) no-repeat -72px -25px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-4 {background:url(../images/difficulty.png) no-repeat -72px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-5 {background:url(../images/climbing_difficulty.png) no-repeat -1px -27px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-5 {background:url(../images/climbing_difficulty.png) no-repeat -1px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-6 {background:url(../images/climbing_difficulty.png) no-repeat -26px -27px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-6 {background:url(../images/climbing_difficulty.png) no-repeat -26px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-7 {background:url(../images/climbing_difficulty.png) no-repeat  -51px -27px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-7 {background:url(../images/climbing_difficulty.png) no-repeat -51px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-8 {background:url(../images/climbing_difficulty.png) no-repeat -76px -27px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-8 {background:url(../images/climbing_difficulty.png) no-repeat -76px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-9 {background:url(../images/climbing_difficulty.png) no-repeat -101px -27px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-9 {background:url(../images/climbing_difficulty.png) no-repeat -101px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-10 {background:url(../images/climbing_difficulty.png) no-repeat  -126px -27px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-10 {background:url(../images/climbing_difficulty.png) no-repeat -126px -1px;}

input[type="checkbox"].easycheck + label span.difficulty-11 {background:url(../images/climbing_difficulty.png) no-repeat -151px -27px;}
input[type="checkbox"].easycheck:checked + label span.difficulty-11 {background:url(../images/climbing_difficulty.png) no-repeat -151px -1px;}

/* ROUTE TOURS*/
input[type="checkbox"].easycheck + label span.firsttour {background:url(../images/tour.png) no-repeat 0px -24px;}
input[type="checkbox"].easycheck:checked + label span.firsttour {background:url(../images/tour.png) no-repeat 0px 0px;}

input[type="checkbox"].easycheck + label span.secondtour {background:url(../images/tour.png) no-repeat -24px -24px;}
input[type="checkbox"].easycheck:checked + label span.secondtour {background:url(../images/tour.png) no-repeat -24px 0px;}

input[type="checkbox"].easycheck + label span.thirdtour {background:url(../images/tour.png) no-repeat -48px -24px;}
input[type="checkbox"].easycheck:checked + label span.thirdtour {background:url(../images/tour.png) no-repeat -48px 0px;}

input[type="checkbox"].easycheck + label span.forthtour {background:url(../images/tour.png) no-repeat -72px -24px;}
input[type="checkbox"].easycheck:checked + label span.forthtour {background:url(../images/tour.png) no-repeat -72px 0px;}

/*CARTOGRAFIA*/
.page-header {height: 80px;}
.page-header.maps {border-bottom:2px solid #475d2e;}
.page-header .about-menu-maps {padding:0 10px;background-color: transparent;margin-top:50px;}
.page-header .about-menu-maps li {float: left;margin-right: 5px;}
.page-header .about-menu-maps li a {height: 16px;padding: 5px;display: block;color:#7f7f7f;font-size: 12px;}
.page-header .about-menu-maps li a:hover, .page-header .about-menu-maps li a:focus, .page-header .about-menu-maps li a:active, .page-header .about-menu-maps li a.active {color:#3b3b3b;border-bottom:4px solid #475d2e;}

.maps-content p {color:#595959; line-height:18px; margin-top:20px; text-align:justify;}
.about-article ul {color:#595959; line-height:18px; text-align:justify;}
.about-article li {list-style-type:disc;}

h2.pageHeading {font-family:'OpenSansRegular'; font-size:20px; color:#3f3f3f; line-height:40px; border-bottom:1px #3f3f3f solid;margin-top: 20px;}

h4.pageHeading {font-family:'OpenSansBold'; font-size:12px; color:#595959; line-height:30px; }

.maps-content .results-list li {height: 100%; border: 1px #808080 solid !important; border-radius: 0px !important; padding: 10px; width: 190px; margin-left: 20px; margin-top: 20px; float:left; list-style: none;min-height: 382px;}
.maps-content .results-list img {height: 210px; max-height: 210px; max-width: 150px;}
.maps-content .results-list li .route_name {text-align: center; margin-top: 10px;height: 45px;}
.maps-content .results-list li .tit_act {text-align: center;margin: 5px;font-size:13px;}
.maps-content .results-list li a {text-align: center;color:#3f3f3f;}
.maps-content .results-list li .tit_act a {font-size: 12px;}
.maps-content .results-list li .descr_act {color: #999; font-size: 10px; text-align: center; height: 30px;border-top: 1px solid #999; padding-top: 5px;}
.maps-content .results-list li .price {color: #7c3a1c; font-size: 20px; text-align: center; height: 45px;}
.maps-content .results-list li .btn a {background-color: #e29b15; color: #fff; font-size: 15px; text-align: center;padding: 8px;width: 100px;display: block;margin: 0 auto;text-transform: uppercase;border-radius: 4px;}
.maps-content .results-list li .btn a:hover, .maps-content .results-list li .btn a:focus {opacity: .6;}

.maps-content-inside {border:1px #3f3f3f solid;margin-top: 20px;padding: 20px;}
.maps-content-inside h3.pageHeading {font-family:'OpenSansRegular'; font-size:20px; color:#7c3a1c; line-height:40px;border-bottom:1px #3f3f3f solid; }
.maps-content-inside p {color:#595959; line-height:18px; margin-top:20px; text-align:justify;}
.maps-content-inside p.price {color: #7c3a1c; font-size: 20px; text-align: center; height: 30px;}
.maps-content-inside ul {padding-left: 35px;}
.maps-content-inside li {color:#595959; line-height:18px; text-align:justify;}
.maps-content-inside  li:before {content: "• ";color: #7c3a1c; /* or whatever color you prefer */}
.maps-content-inside .cant {height: 30px;width: 30px;border: 2px solid #e29b15;border-radius: 6px;}
.maps-content-inside .btn {background-color: #e29b15;color: #fff; font-size: 15px; text-align: center;padding: 10px 8px;/*float: right;*/width: 100px;display: block;margin: 0 auto;text-transform: uppercase;border-radius: 4px;}
.maps-content-inside .half {width: 50%;float: left;}
.maps-content-inside .clearfix {clear: both;}
/*ABOUT AHB*/
.page-header {height: 80px;}
.page-header.maps1 {border-bottom:2px solid #f89c00;}
.page-header .about-menu-ahb {padding:0 10px;background-color: transparent;margin-top:50px;}
.page-header .about-menu-ahb li {float: left;margin-right: 5px;}
.page-header .about-menu-ahb li a {height: 16px;padding: 5px;display: block;color:#7f7f7f;font-size: 12px;}
.page-header .about-menu-ahb li a:hover, .page-header .about-menu-ahb li a:focus, .page-header .about-menu-ahb li a:active, .page-header .about-menu-ahb li a.active {color:#3b3b3b;border-bottom:4px solid #f89c00;}


/* About Us */
.about-content {width:850px; margin:0 auto; padding-top:30px; padding-bottom:10px; overflow:hidden;}

.about-banner {background: url(../home_images/andeshandbook_homepage_10.jpg);width:100%;height:300px; margin-top:20px;  background-position: 50% 50%;
  background-size: cover;}


.about-section {margin-top:10px;}
.about-section h3 {font-family:'OpenSansBold'; font-size:16px; color:#595959; line-height:30px;text-transform:uppercase;}
.about-section h4 {font-family:'OpenSansBold'; font-size:14px; color:#595959; line-height:20px;}
.about-section h5 {font-family:'OpenSansBold'; font-size:12px; color:#595959; line-height:15px;}
.about-section p {color:#595959; line-height:18px; text-align: justify;}
.about-section hr {background-color:#595959; height:1px; border:0;}
.about-section a {color:#595959;}

.about-box {width:398px;float:left;border:solid 1px #8e3713;padding:10px; background-color: #ffffc8;}
.about-box p {color:#8e3713;font-size: 14px;text-align: center; margin-top: 10px;}
.about-box h1 {font-size: 40px;color: #808080;text-align: center;}

.about-box-tres {float:left;padding:10px;width:28%;}
.about-box-tres h1 {font-size: 40px;color: #808080;text-align: center;}
.about-box-tres p {color: #999;font-size: 14px;text-align: center;margin-top: 0;height: 35px;}

.about-box-dos {float:left;padding:10px;width:44%;}
.about-box-dos h1 {font-size: 40px;color: #808080;text-align: center;}
.about-box-dos p {color: #999;font-size: 14px;text-align: center;margin-top: 0;height: 35px;}

.about-box-cuatro {float:left;padding:10px;width:22%;display: block;}
.about-box-cuatro:hover {opacity: .7;}
.about-box-cuatro p {color: #999;font-size: 14px;text-align: center;margin-top: 0;height: 35px;text-transform:uppercase;}
.about-box-cuatro img {margin: 0 auto;display: block;}

.about-crew {width:696px;margin: 0 auto;}
.about-crew-box {width: 200px;margin-right: 10px;margin-top:10px;padding: 10px;border:1px solid #8e3713;float: left;}
.about-crew-box p.mail {text-align: center;font-size: 10px;margin-top: 5px;height: 18px;}
.about-crew-img {width: 120px;margin: 0 auto;height: 150px;display: block;}
.about-crew-img img {display: block;}
.about-crew-name {height: 35px;border-bottom: 1px solid #8e3713;margin-top:10px;}
.about-crew-name h5 {text-align: center;font-size: 14px;color:#333;font-family: 'OpenSansRegular';}
.about-crew-name p {text-align: center !important;font-size: 12px!important;margin-top: 0px !important;}

.about-crew-modal {width: 510px;padding: 25px;}
.about-crew-box-modal {float: left;width: 220px;margin-right: 10px;}
.about-crew-box-modal p.mail {text-align: center;font-size: 10px;margin-top: 5px;height: 18px;}
.about-crew-box-modal p {line-height: 14px;text-align: justify;}

h2.pageHeading {font-family:'OpenSansRegular'; font-size:20px; color:#3f3f3f; line-height:40px; border-bottom:1px #3f3f3f solid;}
h3.pageHeading {font-family:'OpenSansBold'; font-size:15px; color:#595959; line-height:40px; }
h4.pageHeading {font-family:'OpenSansBold'; font-size:12px; color:#595959; line-height:30px; }
.about-article p {color:#595959; line-height:18px; margin-top:20px; text-align:justify;}
.about-article ul {color:#595959; line-height:18px; text-align:justify;}
.about-article li {list-style-type:disc;}
/*OTHERS ABOUT*/
.about-nav, .about-desc {float:left; margin:0 10px;}
.about-nav {width:160px;}
.about-desc {width:650px;}

.abtNav-heading {font-family:'OpenSansSemibold'; font-size:12px; color:#333; line-height:26px; background:url(../images/abt-nav.gif) repeat-x; text-indent:10px;}
.about-menu {padding:0 10px; background-color:#f2f2f2;}
.about-menu li + li {border-top:1px #cdcdcd solid;}
.about-menu li a {color:#595959; line-height:24px; font-size:11px;}

/* Popup Content */
#inline-book {display:none; width:770px; height:465px; padding:35px; background:url(../images/book.png) no-repeat; font-size:10px;}
#inline-summit-book {display:none; width:770px; height:530px; padding:35px; background:url(../images/book2.jpg) no-repeat; font-size:10px;}
.bookTable {float:left; margin-top:20px; margin-bottom: 20px; border:1px #bfbfbf solid; width:47%; height:837px; overflow: scroll;}
.bookdata .circle {display: block;height: 9px;width: 9px;line-height: 9px;border-radius: 50%;background-color: #976150; text-align: center;}
.bookdata .circle:after {content:"";position: absolute;top: 30px;bottom: 30px;left: 28px;border-left: 1px solid rgba(151,97,80,0.2);} /*RGBA del cafe*/

.bookForm {float:right; width:47%; margin-top:20px;border:1px #bfbfbf solid; padding: 20px; font-size:11px;}
.bookForm .existing_route {display:none;}
.bookForm .chart_container{background: url(../images/ajaxloader.gif) 50% 50% no-repeat rgb(255,255,255); background-size:150px; padding-bottom: 10px;}
.bookForm .chart_footnote{position: absolute; z-index: 1; font-size: 9px; bottom: 3px; right: 3px;}

.bookdata { position:relative; padding: 20px;font-size: 11px;}
.bookdata td {padding:4px; max-width: 225px;}
.bookdata a {color:#026689;}

h4.bookTitle {font-family:'OpenSansBold'; font-size:12px; line-height:20px;}
h4.bookSubtitle {font-family: 'OpenSansItalic'; font-size:12px; line-height:20px;}
.book-quest {margin-right:100px;}

.book-form label {display:block; line-height:20px; width:90%; margin-top: 5px;}
.book-form input[type="text"], .book-form textarea {border:1px #bfbfbf solid; padding:2px; width:98%;}
.book-form textarea {height:50px; resize:none;}
.book-form td {vertical-align:middle;}
.book-note {margin:10px 0; line-height:16px;width:90%;}

#inline-rating {display:none; background-color:#e5e5e5; width:220px;}
.ratingHead {padding:4px;}
.ratingPop td {padding:10px; border-top:1px #bfbfbf solid;}
.ratingPop p {margin-bottom:5px;}
.ratingPop .diff {margin-right:5px;}
.ratingPop .radio-difficulties {float:left; clear:none; width: 100%; margin-bottom: 15px;}
.ratingPop .radio-difficulties img { float:left; clear:none; display:block; padding: 2px 1em 0 5px; margin-top: 0px;}
.ratingPop .radio-difficulties input[type=radio] { float:left; clear:none; margin: 2px 0 0 2px; margin-top: 7px;}
/* Hill Page */
.hillHeading {
	width:115px;
	border-color:#d9d9d9;
	color:#fff;
	background: #5e95b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #5e95b3 0%, #498eb4 42%, #448eb4 43%, #428cb4 45%, #338ab4 49%, #2987b5 52%, #2187b5 53%, #1483b5 57%, #0d83b5 57%, #0083b5 58%, #0064b6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e95b3), color-stop(42%,#498eb4), color-stop(43%,#448eb4), color-stop(45%,#428cb4), color-stop(49%,#338ab4), color-stop(52%,#2987b5), color-stop(53%,#2187b5), color-stop(57%,#1483b5), color-stop(57%,#0d83b5), color-stop(58%,#0083b5), color-stop(100%,#0064b6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5e95b3 0%,#498eb4 42%,#448eb4 43%,#428cb4 45%,#338ab4 49%,#2987b5 52%,#2187b5 53%,#1483b5 57%,#0d83b5 57%,#0083b5 58%,#0064b6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e95b3', endColorstr='#0064b6',GradientType=0 ); /* IE6-9 */
	font-size: 10px;
	line-height: 26px;
	padding: 0 30px;
	outline: none;
	font-family: 'OpenSansSemibold';
	-moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;
}
.hill-container {
	background: #fff;
	border: 1px #d9d9d9 solid;
	padding: 9px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
	overflow:hidden;
}


/* Custom Radio */
input[type="radio"].easycheck {display:none;}
input[type="radio"].easycheck + label {display:inline;}
input[type="radio"].easycheck + label span {
	display:inline-block;
    width:24px;
    height:24px;
	margin:3px 1px 2px 0;
    cursor:pointer;
}

input[type="radio"].easycheck + label span.easy {background:url(../images/difficulty.png) no-repeat 0px -25px;}
input[type="radio"].easycheck:checked + label span.easy {background:url(../images/difficulty.png) no-repeat 0px -1px;}

input[type="radio"].easycheck + label span.medium {background:url(../images/difficulty.png) no-repeat -24px -25px;}
input[type="radio"].easycheck:checked + label span.medium {background:url(../images/difficulty.png) no-repeat -24px -1px;}

input[type="radio"].easycheck + label span.hard {background:url(../images/difficulty.png) no-repeat -48px -25px;}
input[type="radio"].easycheck:checked + label span.hard {background:url(../images/difficulty.png) no-repeat -48px -1px;}

input[type="radio"].easycheck + label span.expert {background:url(../images/difficulty.png) no-repeat -72px -25px;}
input[type="radio"].easycheck:checked + label span.expert {background:url(../images/difficulty.png) no-repeat -72px -1px;}


.body-container {
	overflow:inherit;
	min-height: 100%;
	position: relative;
	/*width: 1280px;*/
}

.otherProfileFollowButton {float:right; height:24px; font-size:14px;}

.fancybox-title i {font-style: italic; text-align: justify;}
.fancybox-title h3 {font-weight: bold;}


/* Novedades */

.news-content .date_act {
	margin-left: 15px;
	color: #6a6e50;
	text-align: left;
	font-size: 11px;
	float:left;
	margin-top: 3px;
	margin-bottom:10px;
}

.news-content .author_act {
	color: #6a6e50;
	font-size: 11px;
	text-align: right;
	float:right;
	margin-left: 30px;
	margin-top: 3px;
	margin-bottom:10px;
}
.news-content .tit_act {
	margin-left: 10px;
	text-transform: uppercase;
	padding-right: 5px;
	display: inline-block;
	padding-left: 5px;
	font-size:16px;
}
.news-content .descr_act {
	border-bottom-color: #cdcdcd;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 14px;
	font-style: italic;
	color: #404040;
	text-align: justify;
	font-size: 12px;
	margin-top: 3px;
}
.news-content .img_act {
	border-style: solid;
	border-color: #cdcdcd;
	border-width: 2px;
	max-height:100px;
	max-width: 100px;
}
.news-content .news-description {float:left; padding-top: 2px;}
.news-content .news-image {margin-bottom:10px; text-align: center;}

.translate {color: #595959; float:right; font-size:14px; text-align:right; margin-top:10px;}
.translate a{color: #595959;}
.gm-style .gm-style-iw{height: auto !important;}
.marker_infowindow img{height:70px; margin-right:10px; vertical-align: middle;}
.marker_infowindow img.hill-img{height:50px; display: block; margin: auto; margin-bottom: 10px;}
.marker_infowindow a{vertical-align: middle;}

.editor-route{ margin-top: 20px; text-align: right; }
.editor-route a{ margin-right: 0px; font-size: 14px; }

/* SERVICE */
#service h2 {font-size: 17px; color: #10006a;font-weight: 600;float: left;margin: 0;font-family: 'OpenSansSemibold';width: 200px;}
#service h5 {float: left;font-size: 12px;font-weight: 600;font-family: 'OpenSansSemibold';margin-top: 6px;margin-bottom: 0;}
#service .cali {display: block;float: left;margin: 3px 10px 0 15px;}
#service .cali .big-icon {font-size: 20px; margin: 0 2px;}
#service .cali .big-icon.false {color: #666;}
#service a.cal {float: left;display: block;padding: 3px 10px; text-align: center;border-radius: 5px; border: 1px solid #262423;background-color: #eeeeee;color: #3a3a3a;font-family: 'OpenSansSemibold';margin: 3px 10px 0 10px;}
#service p {font-size: 14px;margin: 10px 0 0 15px;}
#service i {margin-right: 15px;}
#service p.des {margin: 10px 0 30px 42px}
#service img {display: block;margin: 0 9px;float: left;height: 80px;}
#graduation-modal {width: 400px;}
#qualifications-modal {width: 700px;}
.service-rating {width: 150px !important;}
.service-rating img{width: 25px;}
/*Banners*/
/*#bottom-banners{position:fixed; bottom:0px; min-width:928px;z-index:1;background:white;border:1px #d9d9d9 solid;}
*/
#bottom-banners{margin: 0 auto; width: 400px;}

.chosen-container {background-color: #fff;}

.videos-gallery-list iframe{margin-left: 20px; margin-top: 30px;}
.videos-gallery-list img{margin-left: 20px; margin-top: 30px;}
.video-form {display: inline-block; float:right;}
.video-form label {display:inline;}
.video-form .sub-post {height:23px; width: 30px; color:transparent; margin: 5px; background:url(../images/widget-upload.png) no-repeat; border:none; cursor: pointer;}
.videos-gallery-list .delete_video {cursor:pointer; color:red;display:block;margin-left:25px;}
.videos-gallery-list .sernageomin_label {cursor:pointer; display:block;margin-left:25px; /*position: absolute;*/}
.videos-gallery-list li {float:left;}
.videos-gallery-list li:nth-child(odd) {clear: both;}
#video-tabs {border:none; padding:0;}
#video-tabs ul {border:none; padding:0;}
#video-tabs ul li {border:none; margin:15px; margin-left:0px; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;}
#video-tabs .ui-tabs-nav li a {color:#fff; padding:8px;}

.access li, .access p {color:#595959; line-height:18px; margin-top:5px; text-align:justify;}


/* BLOG */
.page-header.blog {border-bottom: 2px solid #8e3713;margin-bottom: 10px;}
.page-header.blog h1 {margin-top: 30px;font-size: 50px;color: #8e3713;font-family: Georgia, "Times New Roman", Times, serif;    height: 50px;overflow: hidden;}

.wrapper.blog-content {overflow: hidden}

.blog-content .pagination {text-align: center;}
.blog-content .pagination strong {font-size: 14px;padding: 6px 10px;color: #fff;display: inline-block;background: #8e3713;-webkit-border-radius: 20px;border-radius: 20px;}
.blog-content .pagination a {font-size: 14px;padding: 6px 10px;color: #8e3713;display: inline-block;background: #fff;-webkit-border-radius: 20px;border-radius: 20px;font-weight: 600;}
.blog-content .pagination a:hover {color: #fff;background: #8e3713;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;}

.index-post-box {border:1px solid #ccc;padding: 10px;width: 935px; height: 200px;margin-bottom: 15px;}
.index-post-box a {}
.index-post-box a:hover {opacity: .7;}
.index-post-box .index-post-img {background-color: #234; width: 300px;height: 200px; float: left;background-position: 50% 50%;background-size: cover;display: block;}
.index-post-box .index-post-content {float: left;width: 615px;margin-left: 20px;height: 200px;overflow: hidden;}
.index-post-box .index-post-content h1 {font-family: Georgia, "Times New Roman", Times, serif;color: #8e3713;font-size: 24px;margin-top: 10px;}
.index-post-box .index-post-content h1 a {color: #8e3713;}
.index-post-box .index-post-content h3 {color: #999;margin-top: 5px;font-size: 14px;}
.index-post-box .index-post-content p.date {color: #999;margin-top: 5px;font-size: 12px;height: auto;}
.index-post-box .index-post-content p {color: #444;margin-top: 10px;font-size: 14px;height: 99px;}
.index-post-box .index-post-content p.p_comment {color: #999;margin-top: 10px;font-size: 12px;text-align: right;height: auto;}
.index-post-box .index-post-content p.p_comment a {color: #999;}

.index-post-box-md {border:1px solid #ccc;padding: 10px;width: 450px; height: 200px;float: left;margin-bottom: 15px;}
.index-post-box-md:nth-child(odd) {margin-left: 7.5px;}
.index-post-box-md:nth-child(even) {margin-right: 7.5px;}
.index-post-box-md a {}
.index-post-box-md a:hover {opacity: .7;}
.index-post-box-md .index-post-img-md {background: #234; width: 140px;height: 200px; float: left;background-position: 50% 50%;background-size: cover;display: block;}
.index-post-box-md .index-post-content-md {float: left;width: 290px;margin-left: 20px;height: 200px;overflow: hidden;text-overflow:ellipsis;}
.index-post-box-md .index-post-content-md h1 {font-family: Georgia, "Times New Roman", Times, serif;color: #8e3713;font-size: 20px;margin-top: 10px;}
.index-post-box-md .index-post-content-md h1 a {color: #8e3713;}
.index-post-box-md .index-post-content-md h3 {color: #999;margin-top: 5px;font-size: 14px;}
.index-post-box-md .index-post-content-md p.date {color: #999;margin-top: 5px;font-size: 12px;height: auto;}
.index-post-box-md .index-post-content-md p {color: #444;margin-top: 10px;font-size: 14px;height: 82px;}
.index-post-box-md .index-post-content-md p.p_comment {color: #999;margin-top: 10px;font-size: 12px;text-align: right;height: auto;}
.index-post-box-md .index-post-content-md p.p_comment a {color: #999;}

.post h1 {font-family: Georgia, "Times New Roman", Times, serif;color: #8e3713;font-size: 24px;margin-top: 10px;}
.post p.date {color: #999;margin-top: 5px;font-size: 12px;height: auto;}
.post h4.subhead {color: #333;margin-top: 5px;font-size: 14px;font-weight: 600;line-height: 19px;margin-top: 20px;}

.post .post-img {width: 350px;float: left;padding: 7px;border: 1px solid #cccccc;margin-bottom: 15px;margin-right: 15px;}
.post .post-img img {width: 100%; margin: 0;}

.post .post-content {margin-top: 20px;}
.post .post-content p {color: #444;margin-top: 10px;font-size: 14px;line-height: normal;font-family: 'OpenSansRegular';}
.post .post-content p span {color: #444;font-size: 14px;line-height: normal;font-family: 'OpenSansRegular';}
.post .post-content p img {margin: 5px;}
.post .post-content strong {font-family:'OpenSansSemibold'; color:#333;}
.post .post-content em {font-style: italic;}

#post-shareIcons {width: 210px;float: right;}

.author {height: 150px; background-color: #f2f2f2; width: 550px;margin: 20px auto;padding: 10px;}
.author .photo-profile {width: 100px; float: left;padding: 7px;border: 1px solid #cccccc;margin-right: 15px;}
.author .photo-profile div {display: block;overflow: hidden;position: relative;width: 100px;}
.author .photo-profile img {width: 100%;}
.author .author-bio {}
.author .author-bio h2 {font-family: Georgia, "Times New Roman", Times, serif;color: #8e3713;font-size: 18px;}
.author .author-bio p {color: #444;margin-top: 10px;font-size: 14px;line-height: normal;font-style: italic;}

.blog-content .comment-box {border-top: 2px solid #999;margin-bottom: 10px;width: 100%;margin-top: 20px;padding-top: 20px;}

.comment-box .comment-half {width: 472px; float: left;margin:0 0 15px 0;}
.comment-box .comment {width: 450px;}
.comment-box .comment-content {width: 360px;}

.blog-comment-form {margin-top:20px;}

.blog-content .comment-box .comment-half {width: 960px; float: left; margin: 0;}
.blog-content .comment-box .comment {width: 940px;}
.blog-content .comment-box .comment-content {width: 850px;}
.blog-content .commentForm-container {width: 940px;}
.blog-content .commentForm textarea {width:930px;}
.blog-content .commentForm .triangle {left: 758px;}
.blog-content #comment-submit {left:781px;}

input:read-only {background-color: #ccc;}
label.help {font-style: italic;}



/* DESTINATION */
.destination .descLeft {
	width: 590px;
	margin: 20px 10px 0 0;
}
.destination .name-a {
	position: absolute;
  color: #f2f2f2;
  background: rgba(0,0,0,.5);
  padding: 5px;
  right: 0;
  bottom: 50px;
}
.destination .descRight {
	width: 320px;
	margin: 20px 0 0 0;
}
.destination .shareBar, .destination .routes-bar {
	width: 98.6%;
}
.destination h2 {
	text-transform: uppercase;
	font-family: 'OpenSansRegular';
  font-size: 20px;
  color: #3f3f3f;
  line-height: 40px;
  border-bottom: 1px #3f3f3f solid;
}
.destination .summary tr th {
	border: none;
}
.destination .summary tr td {
	border-top: none;
  border-left: none;
}
.destination .summary tr td:last-of-type {
  border-right: none;
}
.destination .summary tr:last-of-type td{
  border-bottom: none;
}
.destination .square-img {
	position: relative;
	width: 100%;
	display: block;
  border: 1px solid #eeeeee;	
} 
.destination .square-img:after {
	content: '';
	padding-bottom: 60%;
	display: block;
}
.destination .square-img .content-img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.destination .square-img .content-img img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.destination .square-img.cover {
	border: none;
}
.destination .square-img.cover .content-img img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.destination h3 {
	text-transform: uppercase;
	font-family: 'OpenSansRegular';
	font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px #B2B2B2 solid;
}
.destination .content-box {
	margin-left: 1px;
}
.destination .box {
	padding: 0;
	border: 1px #808080 solid !important;
  width: calc(25% - 10px);
  float: left;
  margin-right: 10px;
  margin-left: -1px;
  position: relative;
}
.destination .box .box-text {
	padding: 5px;
}
.destination .box .box-text .l-b {
	width: 80%;
	float: left;
}
.destination .box .box-text p {
	margin-top: 0;
	margin-bottom: 0;
}
.destination .box .box-text p small {
	font-size: 0.78em;
}
.destination .box .box-text .r-b {
	width: 20%;
	float: left;
	height: 20px;
}
.destination .box .box-text .r-b span {
	font-size: 20px;
  text-align: right;
  float: right;
}

.destination .box h5.cerro{
  color: #f2f2f2;
  padding: 5px;
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  right: 0;
  bottom: auto;
  font-size: 11px;
  text-transform: initial;
}
.destination .box h5{
	color: #f2f2f2;
	padding: 5px;
	text-transform: uppercase;
	background-color: rgba(0,0,0,.4);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px;
	display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.destination .slct {
	display: inline-block;
	width: 33%;
	border-bottom: 1px solid #808080;
}
.destination .slct select {
	background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 50px;
  cursor: pointer;

}
.hide {display: none;}
