/*

Design by www.ARGdesign.com.ar | www.AconcaguaDesign.com.ar
Original idea: Daniel O. Savorgnano. Cooperation of leinadx
Released for www.MontañasDeArgentina.com.ar | www.ArgentinasMountains.com.ar
idea 26/04/2009, first sight 02/06/2009, DNS 05/06/2009, www.argentinasmountains.com 06/06/2009, on line 09/06/09, full site 06/08/2009
*/

body {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #202020;
	background-color: #202020;
	background-image: url(../../images/BODYMDA.jpg);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #202020;
}

h2, h3 {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	background: url(../../images/img3.gif) repeat-x left bottom;
	text-transform: lowercase;
	letter-spacing: -1px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 17px;
}

p, ol, ul {
	line-height: 160%;
	color: #202020;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

ul li {
	padding: 2px 0 5px 0;
	background: url(../../images/img4.gif) repeat-x;
}

ul li.first {
	background: none;
}

a {
	color: #202020;
}

a:hover {
	text-decoration: none;
}

strong {
	color: #000000;
}

.indent {
	margin-top: 0;
	margin-left: 130px;
}

.image {
	float: left;
	margin: 0;
}

#wrapper {
	background: url(../../images/Cabeceras/CABECERAmontanasdeargentina.jpg) no-repeat;
}

/* Header */

#header {
	width: 860px;
	height: 195px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#header * {
	text-transform: lowercase;
	color: #000000;
}

#header h1 {
	float: left;
	padding: 90px 0 0 0;
	letter-spacing: -2px;
	font-size: 36px;
}

#header h2 {
	float: left;
	padding: 110px 0 0 6px;
	background: none;
	font-size: 12px;
	font-weight: normal;
}

#header h2 a {
	text-decoration: none;
}

#header ul {
	float: right;
	margin: 0;
	padding: 145px 0 0 0;
	list-style: none;
}

#header li {
	display: inline;
}

#header li a {
	display: block;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #D9C09A;
}

#header li.first a {
	border: none;
}

/* Content */

#content {
	width: 860px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#colOne {
	float: left;
	width: 650px;
}

#colTwo {
	float: right;
	width: 195px;
}

#colTwo h3 {
	margin-top: 10px;
}

/* Footer */

#footer {
	clear: both;
	width: 860px;
	background: url(../../images/img4.gif) repeat-x;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}

#footer p {
	margin: 0;
	padding: 0;
	text-transform: lowercase;
	text-align: center;
}
